
{{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> --}}
<link rel="stylesheet" href="https://d2saxk2fepxz79.cloudfront.net/phase2/stylesheets/bootstrap.min.css">

<div class="eky-container-full">
  <div class="eky-row eky-header-row">
    <div class="eky-header-video-container">
      <video width="100%" height="100%" autoplay muted loop="true">
        <source src="https://d2saxk2fepxz79.cloudfront.net/videos/dyson-v11-HD.mp4" type="video/mp4">
      </video>
    </div>
    <div class="eky-header-video-overlays">
      <div class="eky-header-logo-container">
        <img src="https://d2saxk2fepxz79.cloudfront.net/images/dyson_logo.png" height="75%" />
      </div>
      <h2>Intelligently optimises cleaning and run time.<br>Deep cleans everywhere.</h2>
      <h3>Up to 60 minutes run time<br>2 year Dyson guarantee<br>Dyson customer service</h3>
    </div>
  </div>
  <div class="eky-row eky-which-row">
    <div class="eky-which-container">
      <div class="eky-which-logo">
        <img src="https://d2saxk2fepxz79.cloudfront.net/images/Vacuum-Cleaners-May-Which-Best-Buy.jpg" width="100%" height="100%">
      </div>
    </div>
    <div class="eky-which-container">
      <h1>"Best cordless vacuum we've ever tested."</h1>
      <hr/>
      <h2>Which? Best Buy May 2019</h2>
    </div>
  </div>
  <div class="eky-row">
    <iframe id="section1-iframe" src="/section-1" class="eky-iframe"></iframe>
  </div>
   <div class="slider-tab">
      <div class="row">
        <div class="col-md-2">
          <h1>Intelligently reports <br> in real time remains </h1>
        </div>
        <div class="col-md-6" style="padding: 0;">
              <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
    <video class="video" id="one">
        <source src="http://d2saxk2fepxz79.cloudfront.net/phase2-videos/1Lcd-Screen.mp4" height="100%" type="video/mp4" />
       
    </video>
  

    </div>
    <div id="menu1" class="tab-pane fade">
     <video class="video" id="two">
        <source src="http://d2saxk2fepxz79.cloudfront.net/phase2-videos/2Remaining-Time.mp4" type="video/mp4" />
        
    </video>
    
    </div>
    <div id="menu2" class="tab-pane fade">
    <video class="video" id="three">
        <source src="http://d2saxk2fepxz79.cloudfront.net/phase2-videos/3Maintenance-Alert.mp4" type="video/mp4" />
       
    </video>
 
    </div>
   
  
  </div>
        </div>
        <div class="col-md-4">
     
   <ul class="nav nav-tabs">
    <li class="active lax eky-overlay-text eky-grey-text" onclick="playVida()"><a data-toggle="tab" href="#home">
      <h1>LCD Screen</h1>
      <h2 class="eky-small-text">Shows current performance, including selected power mode, remaining run time, filter maintenance reminders and blockage reports.</h2>

    </a>
    </li>
    <li class="lax eky-overlay-text eky-grey-text" onclick="playVidb()" >
      <a data-toggle="tab" href="#menu1" >
 <h1>Show remaining runtime</h1>
      <h2 class="eky-small-text">Lets you know how much battery power is left in each mode, to give you more control of your clean.</h2>
    {{!-- <button  type="button">Play Video</button> --}}
    </a>
    </li>
    <li class="lax eky-overlay-text eky-grey-text" onclick="playVidc()" ><a data-toggle="tab" href="#menu2">
      <h1>Maintenance Alert</h1>
      <h2 class="eky-small-text">Remind you to clean filters for optimum performance, and informs you of any blockages and how to clear them.</h2>
    </a>
    </li>
  
    
  </ul>
        </div>
      </div>
    </div>
    
  {{!-- <div class="eky-row eky-screen-row">
    
    <section>
      <div class="eky-header-video-container screen-video-display" >
          <video id="FullScreen" width="100%" height="100%" autoplay muted>
              <source src="https://d2saxk2fepxz79.cloudfront.net/phase2-videos/Full-Screen.mp4" type="video/mp4">
          </video>
          
      </div>
      <div class="eky-screen-video-overlays" >
          <div class="eky-overlay seq2 middle-left eky-thin-overlay">
              <div class="lax eky-overlay-text eky-grey-text">
                  <h1>Intelligently reports<br>in real time</h1>
              </div>
          </div>
          <div class="eky-overlay seq2 top-right eky-thin-overlay">
              <div class="eky-overlay-text eky-grey-text">
                  <h1 onclick="on()">LCD screen</h1>
                  <h2 class="eky-small-text">Shows current performance, including selected power mode, remaining run time, filter maintenance reminders and blockage reports.</h2>
                <button onclick="on()">Play</button>
              </div>
          </div>
              
          <div class="eky-overlay seq2 middle-right eky-thin-overlay" id="remaining-time">
              <div class="lax eky-overlay-text eky-grey-text">
                  <h1>Shows remaining runtime</h1>
                  <h2 class="eky-small-text">Lets you know how much battery power is left in each mode, to give you more control of your clean.</h2>
              </div>
          </div>
          <div class="eky-overlay seq2 bottom-right eky-thin-overlay" id="maintainance">
              <div class="lax eky-overlay-text eky-grey-text">
                  <h1>Maintenance alerts</h1>
                  <h2 class="eky-small-text">Remind you to clean filters for optimum performance, and informs you of any blockages and how to clear them.</h2>
              </div>
          </div>
      </div>
    </section>
  </div> --}}
  <div class="eky-row eky-header-row">
    {{!-- <iframe id="section4-iframe" src="/section-cleans" class="eky-iframe"></iframe> --}}
    <div class="eky-header-video-container" >
      <video id="cleansEveryWhere" width="100%" height="100%" autoplay muted>
          <source src="https://d2saxk2fepxz79.cloudfront.net/phase2-videos/cleans-everywhere.mp4" type="video/mp4">
      </video>
    </div>
      <div class="eky-cleans-video-overlays eky-overlay seq3 top-left">
        <div class="lax eky-overlay-text eky-white-text">
            <h1>Cleans everywhere</h1>
            <h2 class="eky-white-text">Dyson cord-free technology makes cleaning easier all around your home.</h2>
        </div>
    </div>
  </div>
  <div class="eky-row">
    <iframe id="section5-iframe" src="/section-dustdump" class="eky-iframe"></iframe>
  </div>
  <div class="eky-row">
    <iframe id="section6-iframe" src="/section-dock" class="eky-iframe"></iframe>
  </div>
  <div class="eky-row">
    {{!-- <iframe id="section7-iframe" src="/section-carousel" class="eky-iframe"></iframe> --}}
    <div class="my-slider" id="customize">
      <div class="eky-relative-wrapper">
        <div class="eky-header-video-container" >
          <video class="video" id="torque" width="100%" height="100%" >
              <source src="https://d2saxk2fepxz79.cloudfront.net/phase2-videos/1-Torque-Drive.mp4" type="video/mp4">
          </video>
        </div>
        <div class="eky-overlay seq6 heads-top-left z105 over-white left-padding">
          <div class="lax eky-overlay-text">
            <h1 class="eky-smaller">Torque Drive Motorhead</h1>
            <h2 class="eky-smaller">Our most powerful cleaner head yet.<br>Captures deep-down dirt from carpets and fine dust from hard floors.</h2>
          </div>
        </div>
      </div>
      <div class="eky-relative-wrapper">
        <div class="eky-header-video-container" >
          <video id="soft-roller" width="100%" height="100%" autoplay >
              <source src="https://d2saxk2fepxz79.cloudfront.net/phase2-videos/2-Soft-Roller.mp4" type="video/mp4">
          </video>
        </div>
        <div class="eky-overlay seq6 heads-top-left z104 over-white left-padding">
          <div class="lax eky-overlay-text">
            <h1 class="eky-smaller">Soft roller cleaner head</h1>
            <h2 class="eky-smaller">Engineered with soft woven nylon and<br>anti-static carbon fibre, for hard floors.</h2>
          </div>
        </div>
      </div>
      <div class="eky-relative-wrapper">
        <div class="eky-header-video-container" >
          <video id="mini-soft" width="100%" height="100%" autoplay >
              <source src="https://d2saxk2fepxz79.cloudfront.net/phase2-videos/3-Mini-Soft.mp4" type="video/mp4">
          </video>
        </div>
        <div class="eky-overlay seq6 heads-top-left z103 over-white left-padding">
          <div class="lax eky-overlay-text">
            <h1 class="eky-smaller">Mini soft dusting brush</h1>
            <h2 class="eky-smaller">Easy, vacuum-assisted dusting.<br>With soft nylon bristles to clean delicate<br>surfaces and fabrics.</h2>
          </div>
        </div>
      </div>
      <div class="eky-relative-wrapper">
        <div class="eky-header-video-container" >
          <video id="mini-motor" width="100%" height="100%" autoplay >
              <source src="https://d2saxk2fepxz79.cloudfront.net/phase2-videos/4-Mini-Motor.mp4" type="video/mp4">
          </video>
        </div>
        <div class="eky-overlay seq6 heads-top-left z102 over-white left-padding">
          <div class="lax eky-overlay-text">
              <h1 class="eky-smaller">Mini motorised tool</h1>
              <h2 class="eky-smaller">Great for cleaning smaller surfaces,<br>upholstery and stairs.</h2>  
          </div>
        </div>
      </div>
      <div class="eky-relative-wrapper">
        <div class="eky-header-video-container" >
          <video id="combo" width="100%" height="100%" autoplay >
              <source src="https://d2saxk2fepxz79.cloudfront.net/phase2-videos/5-Combination.mp4" type="video/mp4">
          </video>
        </div>
        <div class="eky-overlay seq6 heads-top-left over-white z101 left-padding">
          <div class="lax eky-overlay-text">
              <h1 class="eky-smaller">Combination tool</h1>
              <h2 class="eky-smaller">Two tools in one brush and wide nozzle. For simple switching between tasks.</h2>
          </div>
        </div>
      </div>
      <div class="eky-relative-wrapper">
        <div class="eky-header-video-container" >
          <video id="cervi" width="100%" height="100%" autoplay muted>
              <source src="https://d2saxk2fepxz79.cloudfront.net/phase2-videos/6-Crevice.mp4" type="video/mp4">
          </video>
        </div>
        <div class="eky-overlay seq6 heads-top-left z100 over-white left-padding">
          <div class="lax eky-overlay-text">
              <h1 class="eky-smaller">Crevice tool</h1>
              <h2 class="eky-smaller">Designed for precise cleaning<br>around edges and narrow gaps.</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="customize-tools left-padding" id="cen">
      <ul class="controls" id="customize-controls">
        <li class="prev" onclick="arrowClick()">
          <img src="stylesheets/angle-left.png" alt="">
        </li>
        <li class="next" onclick="arrowClick()">
          <img src="stylesheets/angle-right.png" alt="">
        </li>
      </ul>
      {{!-- <ul class="thumbnails" id="customize-thumbnails" style="text-align: center;">
        
      </ul> --}}
      {{!-- <div class="playbutton-wrapper">
        <button id="customize-toggle">Pause</button>
      </div> --}}
    </div>
  </div>
  {{!-- <div class="eky-row left-padding">
    <div class="eky-module-title">
      <h1>Tools Included</h1>
    </div>
    <iframe id="section2-iframe" src="/section-2" class="eky-iframe"></iframe>
  </div> --}}
  
  <div class="eky-row left-padding">
    <div class="eky-module-title ">
      <h1>Additional accessories included</h1>
    </div>
    <div class="eky-accesory-container">
      <div class="eky-accessory">
        <img id="eky-accessory-01" width="100%" height="auto" />
        <div class="eky-accesory-title">Wand storage clip</div>
      </div>
      <div class="eky-accessory">
        <img id="eky-accessory-02" width="100%" height="auto" />
        <div class="eky-accesory-title">Docking station</div>
      </div>
      <div class="eky-accessory">
        <img id="eky-accessory-03" width="100%" height="auto" />
        <div class="eky-accesory-title">Charger</div>
      </div>
    </div>
  </div>
  
  
  <div class="eky-row left-padding">
    <div class="eky-module-title ">
        <h1>Specifications</h1>
    </div>
    <div class="eky-specs-container">
      <div class="eky-specs-col">
        <p class="eky-specs-label-top">Weight</p>
        <p class="eky-specs-label-bottom">
          <span class="eky-specs-label-bottom-value">2.97</span>
          <span class="eky-specs-label-bottom-symbol">kg</span>
        </p>
      </div>
      <div class="eky-specs-col">
        <p class="eky-specs-label-top">Cleaner head</p>
        <p class="eky-specs-label-bottom">
          <span class="eky-specs-label-bottom-title">Nickel Torque Drive</span>
        </p>
      </div>
      <div class="eky-specs-col">
        <p class="eky-specs-label-top">Run time</p>
        <p class="eky-specs-label-bottom">
          <span class="eky-specs-label-bottom-value">Up to 60</span>
          <span class="eky-specs-label-bottom-symbol">mins</span>
        </p>
      </div>
      <div class="eky-specs-col">
        <p class="eky-specs-label-top">Cyclone technology</p>
        <p class="eky-specs-label-bottom"><span class="eky-specs-label-bottom-title">14 concentric cyclones</span></p>
      </div>
    </div>
    <div class="eky-specs-container">
      <div class="eky-specs-col">
        <p class="eky-specs-label-top">Filtration</p>
        <p class="eky-specs-label-bottom">
          <span class="eky-specs-label-bottom-title">Advanced whole-machine filtration</span>
        </p>
      </div>
      <div class="eky-specs-col">
        <p class="eky-specs-label-top">Bin volume</p>
        <p class="eky-specs-label-bottom">
          <span class="eky-specs-label-bottom-value">0.76</span>
          <span class="eky-specs-label-bottom-symbol">L</span>
        </p>
      </div>
      <div class="eky-specs-col">
        <p class="eky-specs-label-top">Suction power (MAX mode)</p>
        <p class="eky-specs-label-bottom">
          <span class="eky-specs-label-bottom-value">185</span>
          <span class="eky-specs-label-bottom-symbol">AW</span>
        </p>
      </div>
      <div class="eky-specs-col">
        <p class="eky-specs-label-top">Charge time</p>
        <p class="eky-specs-label-bottom">
          <span class="eky-specs-label-bottom-value">4.5</span>
          <span class="eky-specs-label-bottom-symbol">hours</span>
        </p>
      </div>
    </div>
    <div class="eky-specs-wrapper">
      <div class="eky-specs-left">
          <div class="eky-specs-col">
            <p class="eky-specs-label-top">Height</p>
            <p class="eky-specs-label-bottom">
              <span class="eky-specs-label-bottom-value">261</span>
              <span class="eky-specs-label-bottom-symbol">mm</span>
            </p>
          </div>
          <div class="eky-specs-col">
            <p class="eky-specs-label-top">Length</p>
            <p class="eky-specs-label-bottom">
              <span class="eky-specs-label-bottom-value">1286</span>
              <span class="eky-specs-label-bottom-symbol">mm</span>
            </p>
          </div>
          <div class="eky-specs-col">
            <p class="eky-specs-label-top">Width</p>
            <p class="eky-specs-label-bottom">
              <span class="eky-specs-label-bottom-value">250</span>
              <span class="eky-specs-label-bottom-symbol">mm</span>
            </p>
          </div>
      </div>
      <div class="eky-specs-right">
        <div class="eky-hoover-image">
          <img class="hoover-image" id="eky-hoover-standing">
        </div>
      </div>
    </div>
  </div>

</div>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
     <script>
       // Plugin isInViewport
    !function(e,n){"object"==typeof exports&&"undefined"!=typeof module?n(require("jquery"),require("window")):"function"==typeof define&&define.amd?define("isInViewport",["jquery","window"],n):n(e.$,e.window)}(this,function(e,n){"use strict";function t(n){var t=this;if(1===arguments.length&&"function"==typeof n&&(n=[n]),!(n instanceof Array))throw new SyntaxError("isInViewport: Argument(s) passed to .do/.run should be a function or an array of functions");return n.forEach(function(n){"function"!=typeof n?(console.warn("isInViewport: Argument(s) passed to .do/.run should be a function or an array of functions"),console.warn("isInViewport: Ignoring non-function values in array and moving on")):[].slice.call(t).forEach(function(t){return n.call(e(t))})}),this}function o(n){var t=e("<div></div>").css({width:"100%"});n.append(t);var o=n.width()-t.width();return t.remove(),o}function r(t,i){var a=t.getBoundingClientRect(),u=a.top,c=a.bottom,f=a.left,l=a.right,d=e.extend({tolerance:0,viewport:n},i),s=!1,p=d.viewport.jquery?d.viewport:e(d.viewport);p.length||(console.warn("isInViewport: The viewport selector you have provided matches no element on page."),console.warn("isInViewport: Defaulting to viewport as window"),p=e(n));var w=p.height(),h=p.width(),v=p[0].toString();if(p[0]!==n&&"[object Window]"!==v&&"[object DOMWindow]"!==v){var g=p[0].getBoundingClientRect();u-=g.top,c-=g.top,f-=g.left,l-=g.left,r.scrollBarWidth=r.scrollBarWidth||o(p),h-=r.scrollBarWidth}return d.tolerance=~~Math.round(parseFloat(d.tolerance)),d.tolerance<0&&(d.tolerance=w+d.tolerance),l<=0||f>=h?s:s=d.tolerance?u<=d.tolerance&&c>=d.tolerance:c>0&&u<=w}function i(n){if(n){var t=n.split(",");return 1===t.length&&isNaN(t[0])&&(t[1]=t[0],t[0]=void 0),{tolerance:t[0]?t[0].trim():void 0,viewport:t[1]?e(t[1].trim()):void 0}}return{}}e="default"in e?e.default:e,n="default"in n?n.default:n,/**
    * @author  Mudit Ameta
    * @license https://github.com/zeusdeux/isInViewport/blob/master/license.md MIT
    */
    e.extend(e.expr[":"],{"in-viewport":e.expr.createPseudo?e.expr.createPseudo(function(e){return function(n){return r(n,i(e))}}):function(e,n,t){return r(e,i(t[3]))}}),e.fn.isInViewport=function(e){return this.filter(function(n,t){return r(t,e)})},e.fn.run=t});
    //# isInViewport

// Play Video
$(function() {
  var $video = $('.video');
  var $window = $(window);

  $window.scroll(function() {
    if ($video.is(":in-viewport")) {
      $video[0].play();
    
    } else {
      $video[0].pause();
    }
  });
});// Plugin isInViewport
!function(e,n){"object"==typeof exports&&"undefined"!=typeof module?n(require("jquery"),require("window")):"function"==typeof define&&define.amd?define("isInViewport",["jquery","window"],n):n(e.$,e.window)}(this,function(e,n){"use strict";function t(n){var t=this;if(1===arguments.length&&"function"==typeof n&&(n=[n]),!(n instanceof Array))throw new SyntaxError("isInViewport: Argument(s) passed to .do/.run should be a function or an array of functions");return n.forEach(function(n){"function"!=typeof n?(console.warn("isInViewport: Argument(s) passed to .do/.run should be a function or an array of functions"),console.warn("isInViewport: Ignoring non-function values in array and moving on")):[].slice.call(t).forEach(function(t){return n.call(e(t))})}),this}function o(n){var t=e("<div></div>").css({width:"100%"});n.append(t);var o=n.width()-t.width();return t.remove(),o}function r(t,i){var a=t.getBoundingClientRect(),u=a.top,c=a.bottom,f=a.left,l=a.right,d=e.extend({tolerance:0,viewport:n},i),s=!1,p=d.viewport.jquery?d.viewport:e(d.viewport);p.length||(console.warn("isInViewport: The viewport selector you have provided matches no element on page."),console.warn("isInViewport: Defaulting to viewport as window"),p=e(n));var w=p.height(),h=p.width(),v=p[0].toString();if(p[0]!==n&&"[object Window]"!==v&&"[object DOMWindow]"!==v){var g=p[0].getBoundingClientRect();u-=g.top,c-=g.top,f-=g.left,l-=g.left,r.scrollBarWidth=r.scrollBarWidth||o(p),h-=r.scrollBarWidth}return d.tolerance=~~Math.round(parseFloat(d.tolerance)),d.tolerance<0&&(d.tolerance=w+d.tolerance),l<=0||f>=h?s:s=d.tolerance?u<=d.tolerance&&c>=d.tolerance:c>0&&u<=w}function i(n){if(n){var t=n.split(",");return 1===t.length&&isNaN(t[0])&&(t[1]=t[0],t[0]=void 0),{tolerance:t[0]?t[0].trim():void 0,viewport:t[1]?e(t[1].trim()):void 0}}return{}}e="default"in e?e.default:e,n="default"in n?n.default:n,/**
 * @author  Mudit Ameta
 * @license https://github.com/zeusdeux/isInViewport/blob/master/license.md MIT
 */
e.extend(e.expr[":"],{"in-viewport":e.expr.createPseudo?e.expr.createPseudo(function(e){return function(n){return r(n,i(e))}}):function(e,n,t){return r(e,i(t[3]))}}),e.fn.isInViewport=function(e){return this.filter(function(n,t){return r(t,e)})},e.fn.run=t});
//# isInViewport

// Play Video
$(function() {
  var $video = $('.video');
  var $window = $(window);

  $window.scroll(function() {
    if ($video.is(":in-viewport")) {
      $video[0].play();
    } else {
      $video[0].pause();
    }
  });
});
     </script>
<!-- NOTE: prior to v2.2.1 tiny-slider.js need to be in <body> -->
  <script> 
var vidOne = document.getElementById("one"); 
function playVida() { 
  vidOne.play(); 
} 

</script> 
<script> 
  var vidTwo = document.getElementById("two"); 

  function playVidb() { 
    vidTwo.play(); 
  } 
</script> 
<script> 
  var vidThree = document.getElementById("three"); 

  function playVidc() { 
    vidThree.play(); 
  } 
</script> 
<script>
    var slider = tns({
        container: '.my-slider',
        items: 1,
        controlsPosition: "bottom",
        controlsContainer: '#customize-controls',
        navPosition: "bottom",
        arrowKeys: true,
    });
</script>
<script>
  function playVisibleVideos() {
    let video = document.getElementById('torque');
    let video1 = document.getElementById('soft-roller');
    let video2 = document.getElementById('mini-soft');
    let video3 = document.getElementById('mini-motor');
    let video4 = document.getElementById('combo');
    let video5 = document.getElementById('cervi');
    elementIsVisible(video) ? video.play() : video.pause();
    elementIsVisible(video1) ? video1.play() : video1.pause();
    elementIsVisible(video2) ? video2.play() : video2.pause();
    elementIsVisible(video3) ? video3.play() : video3.pause();
    elementIsVisible(video4) ? video4.play() : video4.pause();
    elementIsVisible(video5) ? video5.play() : video5.pause();
  }

  function playVideo(ele) {
    let video = document.getElementById(ele);
    video.play();
  }

  function elementIsVisible(el) {
    let rect = el.getBoundingClientRect();
    return (rect.bottom >= 0 && rect.right >= 0 && rect.top <= (window.innerHeight || document.documentElement.clientHeight) && rect.left <= (window.innerWidth || document.documentElement.clientWidth));
  }

  let playVisibleVideosTimeout;
  window.addEventListener("scroll", () => {
    clearTimeout(playVisibleVideosTimeout);
    playVisibleVideosTimeout = setTimeout(playVisibleVideos, 300);
  });

  window.addEventListener("resize", playVisibleVideos);
  window.addEventListener("DOMContentLoaded", playVisibleVideos);
</script>
<script> 
  function showplayVideo(ele) {
      var srcElement = document.getElementById(ele);
      console.log(ele)
      if (srcElement != null) {
          if (srcElement.style.display == "block") {
              srcElement.style.display = 'none';
          }
          else {
              srcElement.style.display = 'block';
          }
          return false;
      }
      let video = document.getElementById(ele);
      video.play();
  }

  function arrowClick (){
    var info = slider.getInfo(),
    indexPrev = info.indexCached,
    indexCurrent = info.index;
    console.log(info.slideItems[indexCurrent])
    if(indexCurrent == 6){
      let video = document.getElementById('torque');
      video.play();    
    }
    if(indexCurrent == 1){
      let video = document.getElementById('soft-roller');
      video.play();    
    }
    if(indexCurrent == 2){
      let video = document.getElementById('mini-soft');
      video.play();    
    }
    if(indexCurrent == 3){
      let video = document.getElementById('mini-motor');
      video.play();    
    }
    if(indexCurrent == 4){
      let video = document.getElementById('combo');
      video.play();    
    }
    if(indexCurrent == 5){
      let video = document.getElementById('cervi');
      video.play();    
    }

  }
</script> 