<div id="eky-main">
  <div id="eky-overlays-container">
    <div class="eky-relative-wrapper">
      <!--<div id="eky-frame-counter">image-0000</div>-->
      <div class="lax" data-lax-opacity="0 0.5, 300 0" id="eky-black-intro"></div>
      <div class="eky-overlay top-middle">
        <div class="lax eky-overlay-text" data-lax-opacity="0 1, 300 0" data-lax-translate-y="0 0, 300 -40">
            <h2 class="eky-white-text">Scroll here to interact with the V11<sup>TM</sup> vacuum</h2>
        </div>
      </div>
      <div class="eky-overlay top-left">
        <div class="lax eky-overlay-text" data-lax-opacity="0 0, 300 1, 1200 1, 1500 0 | offset=-300" data-lax-translate-y="0 40, 300 0,1200 0, 1500 -40 | offset=-300">
            <h1>Intelligently reports in real-time</h1>
            <h2>Show current performance, including selected power mode, remoaining runtime, maintenance reminders and blockage reports.</h2>
        </div>
      </div>
      <div class="eky-overlay top-left">
        <div class="lax eky-overlay-text" data-lax-opacity="0 0, 300 1, 1350 1, 1650 0 | offset=-1950" data-lax-translate-y="0 -40, 300 0, 1350 0, 1650 40 | offset=-1950">
            <h1>The Dyson digital motor V11 - our most powerful yet</h1>
            <h2>The 125.000 RPM Dyson digital motor V11 creates more powerful suction than most corded vacuums.</h2>
        </div>
      </div>
      <div class="eky-overlay bottom-right">
        <div class="lax eky-overlay-text" data-lax-opacity="0 0, 300 1, 1200 1, 1800 0 | offset=-4200‬" data-lax-translate-y="0 40, 300 0, 2000 0, 3000 -40 | offset=-4200">
            <h1>New Larger and improved battery</h1>
            <h2>The seven-cell nickel-cobalt-aluminium battery is our most powerful yet, with fade-free power to clean here, there and everywhere around your home.</h2>
        </div>
      </div>
      <div class="eky-overlay bottom-right">
        <div class="lax eky-overlay-text" data-lax-opacity="0 0, 300 1, 1500 1, 1800 0 | offset=-6300" data-lax-translate-y="0 40, 300 0, 1500 0, 1800 -40 | offset=-6300">
            <h1>Cyclone technology</h1>
            <h2>14 cyclones generate forces of more than 79.000g to direct microscopic particles – such as pollen and bacteria – into the bin.</h2>
        </div>
      </div>
      <div class="eky-overlay top-middle-left">
        <div class="lax eky-overlay-text" data-lax-opacity="0 0, 300 1, 1800 1, 2100 0 | offset=-10000‬" data-lax-translate-y="0 40, 300 0, 1800 0, 2100 -40 | offset=-10000">
            <h1>High torque cleaner head for powerful floor cleaning</h1>
            <h2>Stiff nylon bristles drive deep into carpet to remove dirt, and carbon fibre filaments capture fine dust on hard floors.</h2>
        </div>
      </div>

      <div class="eky-overlay seq2 middle-left eky-thin-overlay">
        <div class="lax eky-overlay-text eky-grey-text" data-lax-opacity="0 0, 300 1, 6300 1, 6600 0 | offset=-14000‬" data-lax-translate-y="0 40, 300 0, 6300 0, 6600 -40 | offset=-14000‬">
            <h1>Intelligently reports<br>in real time</h1>
        </div>
      </div>
      <div class="eky-overlay seq2 top-right eky-thin-overlay">
        <div class="lax eky-overlay-text eky-grey-text" data-lax-opacity="0 0, 300 1.0, 1500 1.0, 1800 0 | offset=-15000‬" data-lax-translate-y="0 40, 300 0, 1500 0, 1800 -40 | offset=-15000‬‬‬">
          <h1>LCD screen</h1>
          <h2 class="eky-small-text">Shows current performance, including selected power mode, remaining run time, filter maintenance reminders and blockage reports.</h2>
        </div>
      </div>
      <div class="eky-overlay seq2 middle-right eky-thin-overlay">
        <div class="lax eky-overlay-text eky-grey-text" data-lax-opacity="0 0, 300 1.0, 1900 1.0, 2200 0 | offset=-16500‬" data-lax-translate-y="0 40, 300 0, 1900 0, 2200 -40 | offset=-16500‬‬‬">
          <h1>Shows remaining runtime</h1>
          <h2 class="eky-small-text">Lets you know how much battery power is left in each mode, to give you more control of your clean.</h2>
        </div>
      </div>
      <div class="eky-overlay seq2 bottom-right eky-thin-overlay">
        <div class="lax eky-overlay-text eky-grey-text" data-lax-opacity="0 0, 300 1.0, 1900 1.0, 2200 0 | offset=-18400" data-lax-translate-y="0 40, 300 0, 1900 0, 2200 -40 | offset=-18400">
          <h1>Maintenance alerts</h1>
          <h2 class="eky-small-text">Remind you to clean filters for optimum performance, and informs you of any blockages and how to clear them.</h2>
        </div>
      </div>

      <div class="lax eky-no-pointers" data-lax-opacity="0 0, 300 1, 3300 1, 3600 0 | offset=-20700‬" id="eky-sequence3-container">
        <div class="lax eky-overflow-image-container eky-no-pointers" data-lax-translate-x="0 0, 300 -600 | offset=-22800‬">
          <div class="eky-overflow-image"><img src="https://d2saxk2fepxz79.cloudfront.net/images/sequence3/long-room.jpg" width-="100%" height="100%"></div>
          <div class="eky-overlay-image eky-hoovering lax" data-lax-opacity="0 0, 300 1 | offset=-21300‬" id="eky-woman-hoover-01"><img src="https://d2saxk2fepxz79.cloudfront.net/images/sequence3/woman-hoovering-01.png" width-="100%" height="100%"></div>
          <div class="eky-overlay-image eky-hoovering lax" data-lax-opacity="0 0, 300 1 | offset=-21600‬" id="eky-woman-hoover-02"><img src="https://d2saxk2fepxz79.cloudfront.net/images/sequence3/woman-hoovering-02.png" width-="100%" height="100%"></div>
          <div class="eky-overlay-image eky-hoovering lax" data-lax-opacity="0 0, 300 1 | offset=-21900‬" id="eky-woman-hoover-03"><img src="https://d2saxk2fepxz79.cloudfront.net/images/sequence3/woman-hoovering-03.png" width-="100%" height="100%"></div>
          <div class="eky-overlay-image eky-hoovering lax" data-lax-opacity="0 0, 300 1 | offset=-22200‬" id="eky-woman-hoover-04"><img src="https://d2saxk2fepxz79.cloudfront.net/images/sequence3/woman-hoovering-04.png" width-="100%" height="100%"></div>
          <div class="eky-overlay-image eky-hoovering lax" data-lax-opacity="0 0, 300 1 | offset=-22500" id="eky-woman-hoover-05"><img src="https://d2saxk2fepxz79.cloudfront.net/images/sequence3/woman-hoovering-05.png" width-="100%" height="100%"></div>
          <div class="eky-overlay-image eky-hoovering lax" data-lax-opacity="0 0, 300 1 | offset=-23100‬" id="eky-woman-hoover-06"><img src="https://d2saxk2fepxz79.cloudfront.net/images/sequence3/woman-hoovering-06.png" width-="100%" height="100%"></div>
          <div class="eky-overlay-image eky-hoovering lax" data-lax-opacity="0 0, 300 1 | offset=-23400‬" id="eky-woman-hoover-07"><img src="https://d2saxk2fepxz79.cloudfront.net/images/sequence3/woman-hoovering-07.png" width-="100%" height="100%"></div>
          <div class="eky-overlay seq3 top-left">
            <div class="lax eky-overlay-text eky-white-text" data-lax-opacity="0 0, 300 1, 1600 1, 1900 0 | offset=-21200" data-lax-translate-y="0 40, 300 0 | offset=-21200‬">
              <h1>Cleans everywhere</h1>
              <h2 class="eky-white-text">Dyson cord-free technology makes cleaning easier all around your home.</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="eky-overlay seq4 middle-left eky-thin-overlay">
        <div class="lax eky-overlay-text eky-grey-text" data-lax-opacity="0 0, 300 1, 1200 1, 1500 0 | offset=-24500" data-lax-translate-y="0 40, 300 0, 1200 0, 1500 -40 | offset=-24500">
            <h1>Easy to empty</h1>
            <h2>Up to 40% bigger bin means less stopping, while the 'point and shoot' system makes emptying easy and hygienic.</h2>
        </div>
      </div>

      <div class="eky-overlay seq4 middle-right eky-thin-overlay">
        <div class="lax eky-overlay-text eky-grey-text" data-lax-opacity="0 0, 300 1, 1200 1, 1400 0 | offset=-27200" data-lax-translate-y="0 40, 300 0, 1200 0, 1400 -40 | offset=-27200">
            <h1>Easy to charge & dock</h1>
            <h2>Simply drop your Dyson V11<sup>TM</sup> vacuum into the wall-mounted charging dock, ready to grab and go again.</h2>
        </div>
      </div>

      <div class="eky-overlay seq6 top-left over-white">
        <div class="lax eky-overlay-text" data-lax-opacity="0 0, 300 1, 27600 1, 28100 0 | offset=-29000‬" data-lax-translate-y="0 40, 300 0, 27600 0, 28100 -40 | offset=-29000‬">
            <h1>Tools included</h1>
        </div>
      </div>
      <div class="eky-overlay seq6 heads-top-left z105 over-white">
        <div class="lax eky-overlay-text" data-lax-opacity="0 0, 300 1, 3000 1, 3300 0.1, 3400 0 | offset=-30000‬" data-lax-translate-y="0 40, 300 0, 3000 0, 3300 -40, 3400 -400 | offset=-30000">
            <h1 class="eky-smaller">Torque Drive Motorhead</h1>
            <h2 class="eky-smaller">Our most powerful cleaner head yet.<br>Captures deep-down dirt from carpets and fine dust from hard floors.</h2>
            <!--<div class="eky-video-btn-container">
              <div class="eky-video-btn-left" id="torque_drive_motorhead">
                <div class="eky-video-btn-arrow"></div>
                <div class="eky-video-btn-text">PLAY</div>
              </div>
              <div class="eky-video-btn-right">
                <div class="eky-video-btn-right-text">See the tool in use</div>
                <div class="eky-video-btn-right-time">0:06</div>
              </div>
            </div>-->
        </div>
      </div>
      <div class="eky-overlay seq6 heads-top-left z104 over-white">
        <div class="lax eky-overlay-text" data-lax-opacity="0 0, 300 1, 2800 1, 3100 0.1, 3200 1 | offset=-34500‬" data-lax-translate-y="0 40, 300 0, 2800 0, 3100 -40, 3200 -400 | offset=-34500">
            <h1 class="eky-smaller">Soft roller cleaner head</h1>
            <h2 class="eky-smaller">Engineered with soft woven nylon and<br>anti-static carbon fibre, for hard floors.</h2>
            <!--<div class="eky-video-btn-container">
              <div class="eky-video-btn-left" id="softroller_cleaner_head">
                <div class="eky-video-btn-arrow"></div>
                <div class="eky-video-btn-text">PLAY</div>
              </div>
              <div class="eky-video-btn-right">
                <div class="eky-video-btn-right-text">See the tool in use</div>
                <div class="eky-video-btn-right-time">0:06</div>
              </div>
            </div>-->
        </div>
      </div>
      <div class="eky-overlay seq6 heads-top-left z103 over-white">
        <div class="lax eky-overlay-text" data-lax-opacity="0 0, 300 1, 3000 1, 3300 0.1, 3400 0 | offset=-39000‬" data-lax-translate-y="0 40, 300 0, 3000 0, 3300 -40, 3400 -400 | offset=-39000">
            <h1 class="eky-smaller">Mini soft dusting brush</h1>
            <h2 class="eky-smaller">Easy, vacuum-assisted dusting.<br>With soft nylon bristles to clean delicate<br>surfaces and fabrics.</h2>
            <!--<div class="eky-video-btn-container">
              <div class="eky-video-btn-left" id="soft_dusting_brush">
                <div class="eky-video-btn-arrow"></div>
                <div class="eky-video-btn-text">PLAY</div>
              </div>
              <div class="eky-video-btn-right">
                <div class="eky-video-btn-right-text">See the tool in use</div>
                <div class="eky-video-btn-right-time">0:09</div>
              </div>
            </div>-->
        </div>
      </div>
      <div class="eky-overlay seq6 heads-top-left z102 over-white">
        <div class="lax eky-overlay-text" data-lax-opacity="0 0, 300 1, 1800 1, 2100 0.1, 2200 0 | offset=-43500‬" data-lax-translate-y="0 40, 300 0, 1800 0, 2100 -40, 2200 -400 | offset=-43500">
            <h1 class="eky-smaller">Mini motorised tool</h1>
            <h2 class="eky-smaller">Great for cleaning smaller surfaces,<br>upholstery and stairs.</h2>
            <!--<div class="eky-video-btn-container">
              <div class="eky-video-btn-left" id="mini_motorise_tool">
                <div class="eky-video-btn-arrow"></div>
                <div class="eky-video-btn-text">PLAY</div>
              </div>
              <div class="eky-video-btn-right">
                <div class="eky-video-btn-right-text">See the tool in use</div>
                <div class="eky-video-btn-right-time">0:05</div>
              </div>
            </div>-->
        </div>
      </div>
      <div class="eky-overlay seq6 heads-top-left over-white z101">
        <div class="lax eky-overlay-text" data-lax-opacity="0 0, 300 1, 2900 1, 3200 0.1, 3300 1 | offset=-47000" data-lax-translate-y="0 40, 300 0, 2900 0, 3200 -40, 3300 -400 | offset=-47000">
            <h1 class="eky-smaller">Combination tool</h1>
            <h2 class="eky-smaller">Two tools in one – rush and wide nozzle.<br>For simple switching between tasks.</h2>
            <!--<div class="eky-video-btn-container">
              <div class="eky-video-btn-left" id="combination_tool">
                <div class="eky-video-btn-arrow"></div>
                <div class="eky-video-btn-text">PLAY</div>
              </div>
              <div class="eky-video-btn-right">
                <div class="eky-video-btn-right-text">See the tool in use</div>
                <div class="eky-video-btn-right-time">0:11</div>
              </div>
            </div>-->
        </div>
      </div>
      <div class="eky-overlay seq6 heads-top-left z100 over-white">
        <div class="lax eky-overlay-text" data-lax-opacity="0 0, 300 1, 2800 1, 3100 0.1, 3200 1 | offset=-51800" data-lax-translate-y="0 40, 300 0, 2800 0, 3100 -40, 3200 -400 | offset=-51800">
            <h1 class="eky-smaller">Crevice tool</h1>
            <h2 class="eky-smaller">Designed for precise cleaning<br>around edges and narrow gaps.</h2>
            <!--<div class="eky-video-btn-container">
              <div class="eky-video-btn-left" id="crevice_tool">
                <div class="eky-video-btn-arrow"></div>
                <div class="eky-video-btn-text">PLAY</div>
              </div>
              <div class="eky-video-btn-right">
                <div class="eky-video-btn-right-text">See the tool in use</div>
                <div class="eky-video-btn-right-time">0:06</div>
              </div>
            </div>-->
        </div>
      </div>
      <!--<div id="eky-video-overlay">
        <div id="eky-video-exit"><img src="https://d2saxk2fepxz79.cloudfront.net/images/close.svg" width="30" height="30"/></div>
        <div id="eky-video-container"></div>
        <div id="eky-video-overlay-background"></div>
      </div>-->
    </div>
  </div>
  <div id="eky-images-container">
    <canvas id="sequence-canvas" width="100" height="100"></canvas>
  </div>
</div>
<script src="/javascripts/sequencor.js"></script>
<script src="/javascripts/controls.js"></script>
