<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>{{title}}</title>
    {{!-- <link rel='stylesheet' href='https://d2saxk2fepxz79.cloudfront.net/stylesheets/style.css' /> --}}
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/carousel.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css">
    <!--[if (lt IE 9)]><script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.helper.ie8.js"></script><![endif]-->
    {{!-- <link rel='stylesheet' href='/stylesheets/carousel.css' /> --}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
