<div>
    <div class="eky-header-video-container screen-video-display" >
        <video id="FullScreen" width="100%" height="100%" autoplay muted>
            <source src="https://d2saxk2fepxz79.cloudfront.net/phase2-videos/Full-Screen.mp4" type="video/mp4">
        </video>
        {{!-- <video id="LcdScreen" width="100%" height="100%" muted >
            <source src="https://d2saxk2fepxz79.cloudfront.net/phase2-videos/1Lcd-Screen.mp4" type="video/mp4">
        </video>
        <video id="remaining" width="100%" height="100%" muted>
            <source src="https://d2saxk2fepxz79.cloudfront.net/phase2-videos/2Remaining-Time.mp4" type="video/mp4">
        </video>
        <video id="maintain" width="100%" height="100%" muted>
            <source src="https://d2saxk2fepxz79.cloudfront.net/phase2-videos/3Maintenance-Alert.mp4" type="video/mp4">
        </video> --}}
    </div>
    <div class="eky-screen-video-overlays" >
        <div class="eky-overlay seq2 top-right eky-thin-overlay">
            <div class="eky-overlay-text eky-grey-text">
                <div class="mbr-section-btn" buttons="0">
                    <a class="btn btn-success display-4"
                    href="https://mobirise.com">FOR WINDOWS</a> 
                    <a class="btn  btn-white-outline display-4"
                    href="https://mobirise.com">FOR MAC</a>
                </div>
                <a class="btn btn-success display-4"
                    href="https://mobirise.com">FOR WINDOWS</a> 
                <button onclick="on()">Play</button>
                <h1 onclick="on()">LCD screen</h1>
                <h2 class="eky-small-text">Shows current performance, including selected power mode, remaining run time, filter maintenance reminders and blockage reports.</h2>
            </div>
        </div>
        <div class="eky-overlay seq2 middle-left eky-thin-overlay">
            <div class="lax eky-overlay-text eky-grey-text">
                <h1>Intelligently reports<br>in real time</h1>
            </div>
        </div>
            
        <div class="eky-overlay seq2 middle-right eky-thin-overlay" id="remaining-time">
            <div class="lax eky-overlay-text eky-grey-text">
                <h1>Shows remaining runtime</h1>
                <h2 class="eky-small-text">Lets you know how much battery power is left in each mode, to give you more control of your clean.</h2>
            </div>
        </div>
        <div class="eky-overlay seq2 bottom-right eky-thin-overlay" id="maintainance">
            <div class="lax eky-overlay-text eky-grey-text">
                <h1>Maintenance alerts</h1>
                <h2 class="eky-small-text">Remind you to clean filters for optimum performance, and informs you of any blockages and how to clear them.</h2>
            </div>
        </div>
    </div>
</div>

<script> 
    function showplayVideo(ele) {
        var srcElement = document.getElementById(ele);
        console.log(ele)
        if (srcElement != null) {
            if (srcElement.style.display == "block") {
                srcElement.style.display = 'none';
            }
            else {
                srcElement.style.display = 'block';
            }
            return false;
        }
        let video = document.getElementById(ele);
        video.play();
    }
</script>