<div id="eky-main" style="height: 13650px;">
  <div id="eky-overlays-container">
    <div class="eky-relative-wrapper">
      <div class="lax eky-intro-overlay" data-lax-opacity="0 0, 300 0" id="eky-intro"></div>
      <div class="eky-overlay top-middle">
        <div class="lax eky-overlay-text" data-lax-opacity="0 1, 300 0" data-lax-translate-y="0 0, 300 -40">
            <h1 class="Scrollinteract">Scroll here to interact with the V11<sup>TM</sup> vacuum</h1>
            <div class="mouseScroll" >
              <svg class="mouse" viewBox="0 0 247 390" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
                <path id="wheel" d="M123.359,79.775l0,72.843" style="fill:none;stroke:#fff;stroke-width:20px;"/>
                <path id="mouse" d="M236.717,123.359c0,-62.565 -50.794,-113.359 -113.358,-113.359c-62.565,0 -113.359,50.794 -113.359,113.359l0,143.237c0,62.565 50.794,113.359 113.359,113.359c62.564,0 113.358,-50.794 113.358,-113.359l0,-143.237Z" style="fill:none;stroke:#fff;stroke-width:20px;"/>
              </svg>
            </div>
        </div>
      </div>

      <div class="eky-overlay top-left mobile-thinner">
        <div class="lax eky-overlay-text" data-lax-opacity="0 0, 300 1, 1200 1, 1500 0 | offset=-300" data-lax-translate-y="0 40, 300 0,1200 0, 1500 -40 | offset=-300">
            <h1>Intelligently reports in real time</h1>
            <h2 class="blackBg">Show current performance, including selected power mode, remaining runtime, maintenance reminders and blockage reports.</h2>
        </div>
      </div>
      <div class="eky-overlay top-left">
        <div class="lax eky-overlay-text" data-lax-opacity="0 0, 300 1, 1350 1, 1650 0 | offset=-1950" data-lax-translate-y="0 -40, 300 0, 1350 0, 1650 40 | offset=-1950">
            <h1>The Dyson digital motor V11 - our most powerful yet</h1>
            <h2 class="blackBg">The 125.000 RPM Dyson digital motor V11 creates more powerful suction than most corded vacuums.</h2>
        </div>
      </div>
      <div class="eky-overlay bottom-right">
        <div class="lax eky-overlay-text" data-lax-opacity="0 0, 300 1, 1200 1, 1800 0 | offset=-4200‬" data-lax-translate-y="0 40, 300 0, 2000 0, 3000 -40 | offset=-4200">
            <h1>New Larger and improved battery</h1>
            <h2 class="blackBg">The seven-cell nickel-cobalt-aluminium battery is our most powerful yet, with fade-free power to clean here, there and everywhere around your home.</h2>
        </div>
      </div>
      <div class="eky-overlay bottom-right">
        <div class="lax eky-overlay-text" data-lax-opacity="0 0, 300 1, 1500 1, 1800 0 | offset=-6300" data-lax-translate-y="0 40, 300 0, 1500 0, 1800 -40 | offset=-6300">
            <h1>Cyclone technology</h1>
            <h2 class="blackBg">14 cyclones generate forces of more than 79.000g to direct microscopic particles – such as pollen and bacteria – into the bin.</h2>
        </div>
      </div>
      <div class="eky-overlay top-middle-left">
        <div class="lax eky-overlay-text" data-lax-opacity="0 0, 300 1, 1800 1, 2100 0 | offset=-10000‬" data-lax-translate-y="0 40, 300 0, 1800 0, 2100 -40 | offset=-10000">
            <h1>High torque cleaner head for powerful floor cleaning</h1>
            <h2 class="blackBg">Stiff nylon bristles drive deep into carpet to remove dirt, and carbon fibre filaments capture fine dust on hard floors.</h2>
        </div>
      </div>

      {{!-- <div class="eky-overlay seq2 middle-left eky-thin-overlay">
        <div class="lax eky-overlay-text eky-grey-text" data-lax-opacity="0 0, 300 1, 6300 1, 6600 0 | offset=-14000‬" data-lax-translate-y="0 40, 300 0, 6300 0, 6600 -40 | offset=-14000‬">
            <h1>Intelligently reports<br>in real time</h1>
        </div>
      </div> --}}
      {{!-- <div class="eky-overlay seq2 top-right eky-thin-overlay">
        <div class="lax eky-overlay-text eky-grey-text" data-lax-opacity="0 0, 300 1.0, 1500 1.0, 1800 0 | offset=-15000‬" data-lax-translate-y="0 40, 300 0, 1500 0, 1800 -40 | offset=-15000‬‬‬">
          <h1>LCD screen</h1>
          <h2 class="eky-small-text">Shows current performance, including selected power mode, remaining run time, filter maintenance reminders and blockage reports.</h2>
        </div>
      </div> --}}
      {{!-- <div class="eky-overlay seq2 middle-right eky-thin-overlay">
        <div class="lax eky-overlay-text eky-grey-text" data-lax-opacity="0 0, 300 1.0, 1900 1.0, 2200 0 | offset=-16500‬" data-lax-translate-y="0 40, 300 0, 1900 0, 2200 -40 | offset=-16500‬‬‬">
          <h1>Shows remaining runtime</h1>
          <h2 class="eky-small-text">Lets you know how much battery power is left in each mode, to give you more control of your clean.</h2>
        </div>
      </div> --}}
      {{!-- <div class="eky-overlay seq2 bottom-right eky-thin-overlay">
        <div class="lax eky-overlay-text eky-grey-text" data-lax-opacity="0 0, 300 1.0, 1900 1.0, 2200 0 | offset=-18400" data-lax-translate-y="0 40, 300 0, 1900 0, 2200 -40 | offset=-18400">
          <h1>Maintenance alerts</h1>
          <h2 class="eky-small-text">Remind you to clean filters for optimum performance, and informs you of any blockages and how to clear them.</h2>
        </div>
      </div> --}}

      <div class="lax eky-no-pointers" data-lax-opacity="0 0, 300 1, 3300 1, 3600 0 | offset=-20700‬" id="eky-sequence3-container">
        <div id="eky-longroom-container" class="lax eky-overflow-image-container eky-no-pointers" data-lax-translate-x="0 0, 300 -600 | offset=-22800‬">
          {{!-- <div class="eky-overflow-image"><img id="eky-longroom" width="auto" height="100%"></div> --}}
          {{!-- <div class="eky-overlay-image eky-hoovering lax" data-lax-opacity="0 0, 300 1 | offset=-21300‬"><img id="eky-woman-hoovering-01" class="eky-hoovering-image" width="auto" height="100%"></div>
          <div class="eky-overlay-image eky-hoovering lax" data-lax-opacity="0 0, 300 1 | offset=-21600‬"><img id="eky-woman-hoovering-02" class="eky-hoovering-image" width="auto" height="100%"></div>
          <div class="eky-overlay-image eky-hoovering lax" data-lax-opacity="0 0, 300 1 | offset=-21900‬"><img id="eky-woman-hoovering-03" class="eky-hoovering-image" width="auto" height="100%"></div>
          <div class="eky-overlay-image eky-hoovering lax" data-lax-opacity="0 0, 300 1 | offset=-22200‬"><img id="eky-woman-hoovering-04" class="eky-hoovering-image" width="auto" height="100%"></div>
          <div class="eky-overlay-image eky-hoovering lax" data-lax-opacity="0 0, 300 1 | offset=-22500"><img id="eky-woman-hoovering-05" class="eky-hoovering-image" width="auto" height="100%"></div>
          <div class="eky-overlay-image eky-hoovering lax" data-lax-opacity="0 0, 300 1 | offset=-23100‬"><img id="eky-woman-hoovering-06" class="eky-hoovering-image" width="auto" height="100%"></div>
          <div class="eky-overlay-image eky-hoovering lax" data-lax-opacity="0 0, 300 1 | offset=-23400‬"><img id="eky-woman-hoovering-07" class="eky-hoovering-image" width="auto" height="100%"></div> --}}
          {{!-- <div class="eky-overlay seq3 top-left">
            <div class="lax eky-overlay-text eky-white-text" data-lax-opacity="0 0, 300 1, 1600 1, 1900 0 | offset=-21200" data-lax-translate-y="0 40, 300 0 | offset=-21200‬">
              <h1>Cleans everywhere</h1>
              <h2 class="eky-white-text">Dyson cord-free technology makes cleaning easier all around your home.</h2>
            </div>
          </div> --}}
        </div>
      </div>

      {{!-- <div class="eky-overlay seq4 middle-left eky-thin-overlay">
        <div class="lax eky-overlay-text eky-grey-text" data-lax-opacity="0 0, 300 1, 1200 1, 1500 0 | offset=-24500" data-lax-translate-y="0 40, 300 0, 1200 0, 1500 -40 | offset=-24500">
            <h1>Easy to empty</h1>
            <h2>Up to 40% bigger bin means less stopping, while the 'point and shoot' system makes emptying easy and hygienic.</h2>
        </div>
      </div> --}}

      {{!-- <div class="eky-overlay seq4 middle-right eky-thin-overlay">
        <div class="lax eky-overlay-text eky-grey-text" data-lax-opacity="0 0, 300 1 | offset=-27200" data-lax-translate-y="0 40, 300 0 | offset=-27200">
            <h1>Easy to charge & dock</h1>
            <h2>Simply drop your Dyson V11<sup>TM</sup> vacuum into the wall-mounted charging dock, ready to grab and go again.</h2>
            <a id="ar-destination"><button class="eky-btn-dyson" id="btn-webar">View in your space</button></a>
        </div>
      </div> --}}
      <div id="eky-video-overlay">
        <div id="eky-video-exit"><img src="https://d2saxk2fepxz79.cloudfront.net/images/close.svg" width="30" height="30"/></div>
        <div id="eky-video-container">
          <div class="eky-qrcode-container">
            <p class="eky-qr-text">Scan this QR code with your phone to view the dyson v11<sup>TM</sup> in your space.</p>
            <div class="eky-qr-image"><img src="https://d15mv1adrb1s6e.cloudfront.net/product_settings/QRCODES/12600021.png" width="100%" height="100%" /></div>
          </div>
        </div>
        <div id="eky-video-overlay-background"></div>
      </div>
    </div>
  </div>
  <div id="eky-images-container">
    <canvas id="sequence-canvas" width="100" height="100"></canvas>
  </div>
</div>
<script>var section=1;</script>
<script src="/javascripts/all.js"></script>
<!--<script src="/javascripts/ua-parser.min.js"></script>
<script src="/javascripts/lax.min.js"></script>
<script src="/javascripts/sequencor.js"></script>
<script src="/javascripts/controls.js"></script>-->
