<div id="eky-main">
  <div id="eky-overlays-container">
    <div class="eky-relative-wrapper">
      <div class="eky-intro-overlay eky-white-intro" id="eky-intro"></div>
      <div class="eky-overlay extreme-left">
        <div class="lax eky-overlay-text" data-lax-opacity="0 1, 300 0" data-lax-translate-y="0 0, 300 -40">
          <h2 class="Scroll-section2">Scroll here to interact with the V11<sup>TM</sup> vacuum tools</h2>
          <div class="mouseScroll" >
            <svg class="mouse" viewBox="0 0 247 390" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
              <path id="wheel" d="M123.359,79.775l0,72.843" style="fill:none;stroke:#555555;stroke-width:20px;"/>
              <path id="mouse" d="M236.717,123.359c0,-62.565 -50.794,-113.359 -113.358,-113.359c-62.565,0 -113.359,50.794 -113.359,113.359l0,143.237c0,62.565 50.794,113.359 113.359,113.359c62.564,0 113.358,-50.794 113.358,-113.359l0,-143.237Z" style="fill:none;stroke:#555555;stroke-width:20px;"/>
            </svg>
          </div>
        </div>
      </div>
      <div class="eky-overlay seq6 heads-top-left z105 over-white">
        <div class="lax eky-overlay-text" data-lax-opacity="0 0, 300 1, 2600 1, 2900 0.1, 3000 0 | offset=-900‬" data-lax-translate-y="0 40, 300 0, 2600 0, 2900 -40, 3000 -400 | offset=-900">
          <h1 class="eky-smaller">Torque Drive Motorhead</h1>
          <h2 class="eky-smaller">Our most powerful cleaner head yet.<br>Captures deep-down dirt from carpets and fine dust from hard floors.</h2>
        </div>
      </div>
      <div class="eky-overlay seq6 heads-top-left z104 over-white">
        <div class="lax eky-overlay-text" data-lax-opacity="0 0, 300 1, 2800 1, 3100 0.1, 3200 1 | offset=-5000‬" data-lax-translate-y="0 40, 300 0, 2800 0, 3100 -40, 3200 -400 | offset=-5000">
          <h1 class="eky-smaller">Soft roller cleaner head</h1>
          <h2 class="eky-smaller">Engineered with soft woven nylon and<br>anti-static carbon fibre, for hard floors.</h2>
        </div>
      </div>
      <div class="eky-overlay seq6 heads-top-left z103 over-white">
        <div class="lax eky-overlay-text" data-lax-opacity="0 0, 300 1, 3400 1, 3700 0.1, 3800 0 | offset=-9000‬" data-lax-translate-y="0 40, 300 0, 3400 0, 3700 -40, 3800 -400 | offset=-9000">
          <h1 class="eky-smaller">Mini soft dusting brush</h1>
          <h2 class="eky-smaller">Easy, vacuum-assisted dusting.<br>With soft nylon bristles to clean delicate<br>surfaces and fabrics.</h2>
        </div>
      </div>
      <div class="eky-overlay seq6 heads-top-left z102 over-white">
        <div class="lax eky-overlay-text" data-lax-opacity="0 0, 300 1, 2400 1, 2700 0.1, 2800 0 | offset=-13400‬" data-lax-translate-y="0 40, 300 0, 2400 0, 2700 -40, 2800 -400 | offset=-13400">
            <h1 class="eky-smaller">Mini motorised tool</h1>
            <h2 class="eky-smaller">Great for cleaning smaller surfaces,<br>upholstery and stairs.</h2>  
        </div>
      </div>
      <div class="eky-overlay seq6 heads-top-left over-white z101">
        <div class="lax eky-overlay-text" data-lax-opacity="0 0, 300 1, 2900 1, 3200 0.1, 3300 1 | offset=-17100" data-lax-translate-y="0 40, 300 0, 2900 0, 3200 -40, 3300 -400 | offset=-17100">
            <h1 class="eky-smaller">Combination tool</h1>
            <h2 class="eky-smaller">Two tools in one brush and wide nozzle. For simple switching between tasks.</h2>
        </div>
      </div>
      <div class="eky-overlay seq6 heads-top-left z100 over-white">
        <div class="lax eky-overlay-text" data-lax-opacity="0 0, 300 1, 2800 1, 3100 0.1, 3200 1 | offset=-21900" data-lax-translate-y="0 40, 300 0, 2800 0, 3100 -40, 3200 -400 | offset=-21900">
            <h1 class="eky-smaller">Crevice tool</h1>
            <h2 class="eky-smaller">Designed for precise cleaning<br>around edges and narrow gaps.</h2>
          
        </div>
      </div>
    </div>
    <div class="eky-overlay seq6 bottom-right z100 over-white title-text">
        <div class="row" style="width: 100%;">
          <div class="col-md-2 torquedrive"> <p class="drive">Torque Drive Motorhead</p></div>
          <div class="col-md-2 softroller"> <p class="roller">Soft roller cleaner head</p></div>
          <div class="col-md-2 minidust"> <p class="dust">Mini soft dusting brush</p></div>
          <div class="col-md-2 minimotor"> <p class="mini">Mini motorised tool</p></div>
          <div class="col-md-2" id="combtool"> <p class="comb">Combination tool</p></div>
          <div class="col-md-2" id="crevicetool"> <p class="crevice">Crevice tool</p></div>
        </div>
    </div>
  </div>
  <div id="eky-images-container">
    <canvas id="sequence-canvas" width="100" height="100"></canvas>
  </div>
</div>

<script>var section=2;</script>
<script src="/javascripts/all.js"></script>
<!--<script src="/javascripts/ua-parser.min.js"></script>
<script src="/javascripts/lax.min.js"></script>
<script src="/javascripts/sequencor.js"></script>
<script src="/javascripts/controls.js"></script>-->
