<div>
    <div class="eky-header-video-container" >
        <video class="video" id="dust-dump" width="100%" height="100%" autoplay muted >
            <source src="https://d2saxk2fepxz79.cloudfront.net/phase2-videos/1Video.mp4" type="video/mp4">
        </video>
    </div>
    <div class="eky-overlay seq4 middle-left eky-thin-overlay">
        <div class="lax eky-overlay-text eky-grey-text">
            <h1>Easy to empty</h1>
            <h2>Up to 40% bigger bin means less stopping, while the 'point and shoot' system makes emptying easy and hygienic.</h2>
        </div>
    </div>
</div>
