<div>
    <div class="eky-header-video-container" >
      <video class="video" id="cleansEveryWhere" width="100%" height="100%" autoplay muted >
          <source src="https://d2saxk2fepxz79.cloudfront.net/phase2-videos/cleans-everywhere.mp4" type="video/mp4">
      </video>
    </div>
      <div class="eky-overlay seq3 top-left">
        <div class="lax eky-overlay-text eky-white-text">
            <h1>Cleans everywhere</h1>
            <h2 class="eky-white-text">Dyson cord-free technology makes cleaning easier all around your home.</h2>
        </div>
    </div>
</div>