<div>
    <div class="eky-header-video-container" >
        <video class="video" id="dock" width="100%" height="100%" autoplay muted >
            <source src="https://d2saxk2fepxz79.cloudfront.net/phase2-videos/2Video.mp4" type="video/mp4">
        </video>
    </div>
    <div class="eky-overlay seq4 middle-right eky-thin-overlay">
        <div class="eky-overlay-text eky-grey-text">
            <h1>Easy to charge & dock</h1>
            <h2>Simply drop your Dyson V11<sup>TM</sup> vacuum into the wall-mounted charging dock, ready to grab and go again.</h2>
            <a id="ar-destination"><button class="eky-btn-dyson" id="btn-webar">View in your space</button></a>
        </div>
    </div>
</div>