<div id="customize_wrapper">
    <div class="my-slider" id="customize">
        <div>
            <div class="eky-header-video-container" >
                <video id="dust-dump" width="100%" height="100%" autoplay muted >
                    <source src="https://d2saxk2fepxz79.cloudfront.net/phase2-videos/1Video.mp4" type="video/mp4">
                </video>
            </div>
            <div class="eky-overlay seq4 middle-left eky-thin-overlay">
                <div class="lax eky-overlay-text eky-grey-text">
                    <h1>Easy to empty</h1>
                    <h2>Up to 40% bigger bin means less stopping, while the 'point and shoot' system makes emptying easy and hygienic.</h2>
                </div>
            </div>
        </div>
        <div>
            <div class="eky-header-video-container" >
                <video id="dust-dump" width="100%" height="100%" autoplay muted >
                    <source src="https://d2saxk2fepxz79.cloudfront.net/phase2-videos/1-Torque-Drive.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div>
{{!-- <div class=".nav-slider">

</div> --}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
<!-- NOTE: prior to v2.2.1 tiny-slider.js need to be in <body> -->
<script>
    var slider = tns({
        container: '.my-slider',
        items: 1,
        responsive: {
            640: {
                edgePadding: 20,
                gutter: 20,
                items: 1
            },
            700: {
                gutter: 30
            },
            900: {
                items: 1
            }
        },
        controlsPosition: "bottom",
        navPosition: "bottom"
    });
</script>