li { list-style: none; }
ul, ol, li { margin: 0; padding: 0; }
/*.container {
  max-width: 900px;
  margin: 0 auto;
}*/
pre[class*="language-"] > code[data-language] { overflow: auto !important; }
section { margin: 50px 0; }



img { max-width: 100%; }
img:not(.tns-lazy-img), .lazyload img { height: auto; }
.autoWidth img { max-width: none; }
.autoHeight img { width: 100%; }
.img {
  font-size: 100px;
  font-weight: 100;
  color: #fff;
  text-align: center;
}
.img a {
  display: block;
  padding: 22% 0;
  color: inherit;
  text-decoration: none;
}
.visually-hidden {
  position: fixed;
  left: -10000px;
  opacity: 0;
}

/* nav */
.nav.active ul { left: 0; }
.nav.active .nav-toggle-handle { left: 17em; }
.nav.active .nav-toggle-handle:before { display: inline-block; }
.nav.active .nav-toggle-handle:after { display: none; }
.nav ul {
  position: fixed;
  top: 0;
  left: -17em;
  z-index: 100;
  width: 17em;
  height: 1000px;
  height: 100vh;
  background-color: #fff;
  -webkit-box-shadow: 2px 0 15px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.15);
  transition: left 0.25s;
  overflow-y: auto;
}
.nav a {
  display: block;
  padding: 0.7em 1em;
  color: inherit;
  text-decoration: none;
}
.nav a:hover { background-color: #F3F3F3; }
.nav .active {
  color: #fff;
  background-color: #af23ff !important;
}
.nav-toggle-handle {
  position: fixed;
  transition: left 0.25s;
  left: 0;
  top: 0;
  z-index: 100;
  padding: 10px;
  color: #fff;
  background-color: #af23ff;
  cursor: pointer;
}
.nav-toggle-handle:before { 
  display: none;
  padding-right: 5px;
  content: '◄'; 
  font-size: 0.8em;
}
.nav-toggle-handle:after { 
  padding-left: 5px;
  content: '►'; 
  font-size: 0.8em;
}

.img-1 { background: #D6D65B; background: hsl(60, 60%, 60%); }
.img-2 { background: #5BD6AD; background: hsl(160, 60%, 60%); }
.img-3 { background: #5B99D6; background: hsl(210, 60%, 60%); }
.img-4 { background: #D65BC1; background: hsl(310, 60%, 60%); }
.img-5 { background: #70D65B; background: hsl(110, 60%, 60%); }
.img-6 { background: #D65B5B; background: hsl(0, 60%, 60%); }
.img-7 { background: #D6995B; background: hsl(30, 60%, 60%); }
.img-8 { background: #705BD6; background: hsl(250, 60%, 60%); }
.customize-tools { position: relative; }
.thumbnails { 
  margin: 20px 0;
  text-align: center;
}
.thumbnails li {
  display: inline-block;
  cursor: pointer;
  border: 5px solid #fff;
}
.thumbnails .tns-nav-active {
  background: none;
  border-color: #000;
}
.thumbnails li { width: 50px; }
.thumbnails img { vertical-align: bottom; height: auto; max-height: 50px; }
.controls { text-align: center; }
.controls li {
  display: block;
  position: absolute;
  top: 50%;
  height: 60px;
  line-height: 60px;
  margin-top: -30px;
  padding: 0 15px;
  cursor: pointer;
  transition: background 0.3s;
}
.controls li img { display: inline-block; vertical-align: middle; }
.controls .prev { left: 0; }
.controls .next { right: 0; }
.controls li:hover { background: #f2f2f2; }

.tns-controls { text-align: center; margin-bottom: 10px; }
.tns-controls [aria-controls] {
  font-size: 15px;
  margin: 0 5px;
  padding: 0 1em;
  height: 2.5em;
  color: #000;
  background: #66CCFF;
  border-radius: 3px;
  border: 0;
}
.lt-ie9 .tns-controls > [aria-controls] {
  line-height: 2.5em;
}
[data-action] {
  display: block;
  margin: 10px auto;
  font-size: 17px;
  min-width: 3em;
  text-align: center;
  background: transparent;
  border: 0;
}
.tns-controls [disabled] { 
  color: #999999;
  background: #B3B3B3; 
  cursor: not-allowed !important;
}
.tns-nav {
  text-align: center;
  margin: 10px 0;
}
.tns-nav > [aria-controls] {
  width: 9px;
  height: 9px;
  padding: 0;
  margin: 0 5px;
  border-radius: 50%;
  background: #ddd;
  border: 0;
}
.tns-nav > .tns-nav-active { background: #999; }
.playbutton-wrapper { text-align: center; }
.playbutton-wrapper button { height: 34px; padding: 0 10px; font-size: 14px; background: #fff; border-radius: 3px; border: 1px solid  #ccc; cursor: pointer; }
.wrapper { padding: 0 5em; }
.suite-container .title, 
.suite-container .subtitle, 
.suite-container li { padding: 5px 10px; }
.suite-container li {
  font-size: 12px;
  line-height: 1.4;
  background: #f5f5f5;
}
.suite-container .title { font-size: 14px; font-weight: bold; background: #8acac6; text-transform: capitalize; }
.suite-container .subtitle { font-size: 13px; font-weight: bold; background: #dedede; text-transform: capitalize; }
.suite-container .fail { background: #FFADE2; }

[class*="vertical"] .img { padding: 30px 0; }
[class*="vertical"] .img:before { content: ''; display: inline-block; width: 1px; margin-right: -1px; height: 100%; vertical-align: middle; }
[class*="vertical"] .img a { display: inline-block; padding: 0; }
[class*="vertical"] .img-1 { height: 137px; }
[class*="vertical"] .img-2 { height: 122px; }
[class*="vertical"] .img-3 { height: 143px; }
[class*="vertical"] .img-4 { height: 325px; }
[class*="vertical"] .img-5 { height: 140px; }
[class*="vertical"] .img-6 { height: 119px; }
[class*="vertical"] .img-7 { height: 223px; }
[class*="vertical"] .img-8 { height: 164px; }
/*[class*="vertical"] p { display: none; }*/

/*.animation .img-1 { height: 137px; }
.animation .img-2 { height: 122px; }
.animation .img-3 { height: 143px; }
.animation .img-4 { height: 325px; }
.animation .img-5 { height: 140px; }
.animation .img-6 { height: 119px; }
.animation .img-7 { height: 223px; }
.animation .img-8 { height: 164px; }*/

/* reset prism */
pre[class*="language-"] { margin: 0; }

/* test results */
.test-results {
  line-height: 1.4;
  padding: 20px 10%;
  background-color: #f2f2f2;
}

/* go to */
.goto-controls {
  margin-bottom: 10px;
  text-align: center;
}
.goto-controls input,
.goto-controls .button {
  display: inline-block;
  font-size: 14px;
  height: 2.6em;
  line-height: 2.6;
  padding: 0 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
}
.goto-controls input {
  border: 1px solid  #ccc;
}
.goto-controls .button {
  min-width: 4em;
  border: none;
  color: #fff;
  background-color: #333;
  cursor: pointer;
}

/* test results */
.test-results { line-height: 1.6; }
.test-results .title { font-weight: bold; text-transform: capitalize; }
.test-results .title:nth-child(n+2) { margin-top: 1em; }
.test-results [class*="item"] { margin-left: 1em; font-size: 0.9em; }
.test-results [class*="item"] { font-weight: 300; }
.test-results [class*="item"]:after { margin-left: 0.5em; }
.test-results .item-success { color: #0EB80E; }
.test-results .item-success:after { content: '✓'; }
.test-results .item-fail { color: #ED1E1E; }
.test-results .item-fail:after { content: '✗'; }
.test-results .item-comment { font-style: italic; color: #666; }
.test-results .item-notsure:after { content: '？'; }
.test-results .item-running:after { 
  display: inline-block;
  height: 16px;
  content: url('../images/pinwheel.svg'); 
  vertical-align: middle; 
}
.customize-tools [hidden] { display: none; }


/* https://daneden.github.io/animate.css/ */
@-webkit-keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

@keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

.jello {
  -webkit-animation-name: jello;
  animation-name: jello;
  -webkit-transform-origin: center;
  transform-origin: center;
}

@-webkit-keyframes rollOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
}

@keyframes rollOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
}

.rollOut {
  -webkit-animation-name: rollOut;
  animation-name: rollOut;
}