@font-face {
  font-family: 'DysonFutura-Book';
  src: url('DysonFutura-Book.woff') format('woff'),
       url('DysonFutura-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DysonFutura-Light';
  src: url('DysonFutura-Light.woff') format('woff');
}
body,html {
    margin:0;
    padding:0;
    color:#ccc;
    font-family: 'DysonFutura-Light', Helvetica, Arial, sans-serif !important;
    background-color: #ffffff;
    height:100%;
}
iframe {
  border-width: 0px !important;
}
.title-text{
  left: 0;
  font-size: 0.8rem;
  width: 100%;
  max-width: 100% !important;
  display: inline-flex;
  text-align: center;
  bottom: 93px !important;
  position: relative !important;
  float: left;
}
.title-text .col-md-2{
width: 15%;
display: inline-flex;
}
.title-text p{
  text-align: center;
  margin-left: 68px;
  font-weight: bold;
  padding: 14px;
}
.nav-slider{
  text-align: center;
}
sup {
  font-size: 0.5rem;
}
.Scroll-section2{
  text-align: left;
}
#crevicetool p{
  margin-left: 50px;
}
#combtool p{
  margin-left: 50px
}
#eky-main {
  height:13650px !important;
}
.eky-mobile #sequence-canvas{
transform: translate(-25%, -37.5%) scaleX(0.5) scaleY(0.25);
}
/*#sequence-canvas{
width:100%;
height:100%;
}*/
.eky-flex{
  display:flex;
}
.eky-overlay.seq6.eky-overlay-text {
  margin-top: 40px;
}
.eky-overlay.seq3.top-left h1.eky-white-text{
  margin-bottom: 0rem;
  font-size: 2.25rem;
  font-family: 'DysonFutura-Light';
  line-height: 2.5rem;
}
.eky-overlay.seq3.top-left h2.eky-white-text{
  font-size: 1.25rem;
  font-family: 'DysonFutura-Book';
  line-height: 1.75rem;
}
#eky-images-container,#eky-overlays-container{
  position:fixed;
  z-index:10;
  width:100vw;
  height:56.25vw;
  overflow: hidden;
}
.eky-intro-overlay{
  background-color: #000000;
  z-index:10000;
  width:100%;
  height:100%;
  position: absolute;
  opacity: 1;
  pointer-events:none;
}
.eky-white-intro{
  background-color: #FFFFFF;
}
#eky-overlays-container{
  z-index:12;
  width:100vw;
  height:56.25vw;
}
.eky-relative-wrapper{
  position: relative;
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.eky-row{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}
.left-padding{
  padding-left: 40px;
  width: 100%;
  box-sizing: border-box;
}

.eky-header-icon{
  flex-grow:0;
  margin-right:5px;
  color:#555;
  width:50px;
  height:50px;
}
.eky-header-icon-text{
  flex-grow:1;
  color:#555;
  height:50px;
  line-height:3.0;
  font-size:1.0rem;
}
.eky-header-logo-container{
  width:250px;
  height:55px;
  margin-left: 35px;
  margin-top: 140px;
}
.eky-nav-row{
  margin-top:10px;
  padding-top:5px;
  padding-bottom:5px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}
.eky-which-row{
margin-top: 25px;
margin-bottom:10px;
}
.eky-which-row hr{
width:20%;
border: 1px solid #999999 !important;
border-top: 1px solid #999999;
}
.eky-which-logo{
margin-left:auto;
margin-right:auto;
max-width:140px;
height: auto;
}
.eky-which-container{
  width:100%;
  height:auto;
  text-align: center;
  color:#555;
}
.eky-header-row{
  max-height:500px;
  overflow:hidden;
  position: relative;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.eky-screen-row{
  /* overflow:hidden; */
  position: relative;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#eky-sequence3-container{
position:absolute;
z-index:11;
width: 100vw;
height: 56.25vw;
}
/* OVERLAYS */

.eky-overlay{
  position: absolute;
  color:#fff;
  /* pointer-events: none; */
}
#eky-video-overlay{
position: absolute;
background-color: rgba(0,0,0,0.8);
display:none;
width:100%;
height:100%;
justify-content: center;
align-items: center;
z-index:1000;
pointer-events: all;
}
#eky-video-exit{
position: absolute;
font-size: 2rem;
font-weight: 700;
top: 10px;
right: 35px;
pointer-events: all;
cursor: pointer;
z-index: 1010;
}
#eky-video-container{
width: 70%;
height: 100%;
pointer-events: all;
position: absolute;
z-index: 1000;
top: auto;
left: auto;
display: flex;
  align-items: center;
  justify-content: center;
}
.eky-qr-image{
max-width:164px;
max-height:164px;
min-width:82px;
min-height:82px;
height: 67vh;
width: 67vh;pointer-events: all;
}
.eky-qr-text{
font-size:0.7rem;
margin-top: 5px;
margin-bottom: 5px;
pointer-events: all;
}
#eky-video-overlay-background{
  pointer-events: all;
  width:100%;
  height:100%;
  position:absolute;
  z-index:999;
}
.eky-no-pointers{
  pointer-events: none;
}
.eky-overlay.top-left{
  top:5vw;
  /* left:10px; */
  max-width: 35%;
}
.eky-overlay.heads-top-left{
top: 5vw;
/* left: 10px; */
width: 28%;
max-width: 333px;
}
.eky-overlay.over-white{
color:#000000;
}
.eky-accesory-container{
display: flex;
flex-direction: row;
width: 75%;
height: 75%;
justify-content: left;
align-items: left;
margin-left: 0px;
margin-bottom:20px;
}
.eky-specs-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  /* margin-left: 16px; */
  justify-content: left;
  align-items: center;
  flex-wrap:wrap;
}
.eky-hoover-image{
overflow: hidden;
height: 69vw;
}
.eky-specs-left,.eky-specs-right{
display: flex;
flex-direction: column;
z-index: 1000;
flex-grow:1;
}
.eky-specs-right{
padding-left: 0px;
}
.eky-specs-wrapper{
  width: 100%;
  display:flex;
  justify-content: flex-start;
  
}

.eky-specs-wrapper .eky-specs-left{
  display:block;
}

.eky-specs-wrapper .eky-specs-right{
  display:block;
}

.eky-specs-left{
  flex-grow:0;
  width:20%;
  flex-direction: row;
/* padding-left: 16px; */
}
.eky-specs-left .eky-specs-col:last-child{
margin-bottom:0px;
}
.eky-accesory{
flex-grow:1;
}
.eky-specs-col{
  width: 20%;
  margin-right: 1%;
}
.eky-specs-left .eky-specs-col{
width: 100%;
margin-right: 1%;
margin-bottom: 0px;
}
.eky-specs-label-top{
  font-size:0.8rem;
  font-weight: 800;
  color: #555;
  margin-bottom: 0;
  line-height: 1.0rem;
  height:30px;
}
.eky-specs-label-bottom{
  font-size:1rem;
  border-bottom: 1px solid #dadada;
  padding-bottom: 1.75rem;
  margin-bottom: 0.5rem;
  height:35px;
  color: #333333;
}
.eky-specs-label-bottom-value{
font-family: 'DysonFutura-Light';
font-size: 2rem;
line-height: 2.75rem
}
.eky-specs-label-bottom-symbol,.eky-specs-label-bottom-title{
font-size: 1.5rem;
font-family: 'DysonFutura-Book';
line-height: 1.5rem;
}
.eky-video-btn-container {
  /*width: 75%;*/
  width: 230px;
  display: flex;
  border: 1px solid #EBEBEB;
}
.eky-video-btn-left {
width: 80px;
height: 80px;
background-color: #EBEBEB;
display: flex;
flex-direction: column;
justify-items: center;
align-items: center;
cursor: pointer;
}
.eky-module-title{
width:100%;
color:#333333;
}
.eky-video-btn-right {
margin-left: 15px;
margin-top: 15px;
}
.eky-video-btn-arrow {
width: 20px;
height: 25px;
clip-path: polygon(0 0, 0% 100%, 100% 50%);
background-color: #000;
margin-top: 17px;
margin-bottom: 7px;
}
.eky-white-text{
color:#fff;
}
.eky-video-btn-text {
color: #000;
}
.eky-overlay.top-right{
top:5vw;
right:5vw;
max-width:40%;
}
.eky-overlay.top-middle{
top:3vw;
right:auto;
max-width: 100%;
}
.eky-overlay.seq2.top-right{
top:3vw;
right:3vw;
max-width:40%;
}
.eky-overlay.middle-left{
  top:100px;
  left:5vw;
  max-width:40%;
}
.eky-overlay.seq2.middle-left{
  top:auto;
  left:3vw;
  max-width:40%;
}
.eky-overlay.middle-right{
  top:100px;
  right:5vw;
  max-width:40%;
}
.eky-overlay.seq2.middle-right{
top:auto;
right:3vw;
max-width:40%;
}
.eky-overlay.top-middle-left {
  top: 5vw;
  left:0px;
  max-width: 43%;
}
.eky-overlay.bottom-right{
bottom: 2vw;
right: 0vw;
max-width:35%;
}
.eky-overlay.seq2.bottom-right{
bottom: 5vw;
right: 3vw;
max-width:30%;
}
.eky-overlay.bottom-columns{
bottom: 1vw;
right:auto;
width:90%;
margin-left:10px;
}

.eky-overlay.seq3.top-left {
  top: 1vw;
  left: 19vw;
  max-width: 40%;
}
.eky-overlay hr{
border-top: 1px solid #fff;
}
.eky-module-title h1{
font-family: 'DysonFutura-Light';
font-weight:100;
margin-bottom: 1rem;
font-size: 2rem;
line-height: 1.5rem;
}
.eky-overlay-text h1 {
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
  font-weight:800;
  margin-top:0px;
  line-height:2.5rem;
  pointer-events: none;
}
.eky-qrcode-container{
display:flex;
align-items:center;
flex-direction: column;
}
.eky-module-title h1{
margin-top: 48px;
font-size: 2rem;
line-height: 1.5rem;
}

.overlay-text h2.blackBg{
color: #999999;
}

.eky-overlay-text h2{
color:#555555;
font-size: 0.7rem;
line-height:1.0;
}

.eky-overlay-text h1.eky-smaller {
  /* padding-left: 16px; */
  font-size: 2rem;
  color:#333;
  line-height:2.5;
}
.eky-overlay-text h2.eky-smaller {
  /* padding-left: 16px; */
  font-size: 1.5rem;
  margin-bottom: 1rem;
  line-height:1.0;
}
.eky-overlay-text h2.eky-white-text{
color:#FFFFFF;
font-family: 'DysonFutura-Book';
font-size: 1.2rem;
line-height: 1.75rem;
}
.Scrollinteract{
font-family: 'DysonFutura-Light';
font-size: 0.9rem;
line-height: 1.75rem;
padding-bottom:10px
}
.Scrollinteract sup{
font-size: small;
}
.eky-overlay-text h2.eky-small-text{
font-size: 1.25rem;
line-height: 1.5rem;
}
.eky-overlay-image,.eky-overflow-image{
position: absolute;
pointer-events: none;
}
.eky-video-btn-arrow,.eky-video-btn-text{
pointer-events: none;
}
.eky-video-btn-left,.eky-btn-dyson{
pointer-events: all;
}
.eky-btn-dyson{
  color: #FFF;
  font-size:0.8rem;
  font-family: 'DysonFutura-Book', Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #333333;
  margin: 0px;
  padding: 1px 6px;
  border: 0px solid #555;
  cursor: pointer;
  width: 198px;
  height: 64px;
}

.eky-overflow-image,.eky-overflow-image-container{
width:100%;
height:100%;
}
.eky-white-background{
width:100%;
height:100%;
background-color: #ffffff;
position:absolute;
}

/* .eky-grey-text{
color:#707070;
} */

.eky-grey-text h1{
color:#333333;
}

.eky-grey-text h2{
color:#555555;
}

.eky-white-text{
color:#FFFFFF;
}
.eky-accesory-title {
  font-family: 'DysonFutura-Book';
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  color:#555;
  text-align: center;
}
.eky-columns-container.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}
.eky-thin-overlay {
max-width:25% !important;
}
.seq4.eky-thin-overlay {
max-width: 46% !important;
}
.seq4.eky-thin-overlay.eky-grey-text h2{
color: #333333;
font-size: 1.25rem;
line-height: 1.5rem;
}

.seq4.eky-thin-overlay.eky-grey-text h1{
color: #333333;
}

.eky-hoovering{
height:100%;
width:auto;
left:0px;
}
/* END OF OVERLAYS */

/* IFRAME STYLES */

.eky-cleans-video-overlays{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  text-align: left;
  color: #fff;
  z-index:1000;
}

.eky-header-video-overlays{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  text-align: left;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  z-index:1000;
}
.eky-header-video-overlays h1, .eky-header-video-overlays h2, .eky-header-video-overlays h3 {
  margin-bottom: 1rem;
  margin-left: 35px;
}
.eky-header-video-overlays h1{
font-size:2.5rem;
}
.eky-header-video-overlays h2,.eky-header-video-overlays h3{
font-family: 'DysonFutura-Light';
font-weight: 100;
font-size: 2.75rem;
/* line-height: 3.25rem; */
}
.eky-header-video-overlays h3{
font-size:1.0rem;
line-height:1.5;
}
.eky-header-video-container{
height: 100%;
width: 100%;
margin-bottom: -6px;
z-index:10;
}
.eky-iframe{
  width:100vw;
  height:55.25vw;
  border: 0px solid #fff;
}

.z100{z-index:100;}
.z101{z-index:101;}
.z102{z-index:102;}
.z103{z-index:103;}
.z104{z-index:104;}
.z105{z-index:105;}

.eky-screen-video-overlays{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  z-index:1000;
  /* pointer-events: none; */
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}

.customize-controls{
  margin-top:-19.5px !important;
}

#FullScreen{
  display: block;
}
#LcdScreen{
  display: none;
}
#remaining{
  display: none;
}
#maintain{
  display: none;
}

.eky-container-limited {
  width: 100%;
  height:100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: auto;
  margin-right: auto;
}
.eky-container-full {
  width: 100%;
  height: 100%;
}
.eky-which-container h1{
  font-family: 'DysonFutura-Light' !important;
  font-size: 2.25rem !important;
}
.eky-which-container h2 {
  font-family: 'DysonFutura-Light' !important;
  font-size: 1.5rem !important;
}
@media (min-width: 576px){
.eky-header-video-overlays h2{
  font-size: 2rem !important;
  line-height: 2.5rem !important;
}
.eky-header-video-overlays h3{
  line-height: 1.75rem;
  font-family: 'DysonFutura-Book';
  font-size: 1.25rem;
}
.eky-header-logo-container img{
  width : 75%;
  height : 75%;
}
.eky-specs-label-top{
    font-size:1.5rem;
    line-height: 1.5rem;
}
.eky-specs-label-bottom{
    margin-bottom: 2rem;
}
.eky-specs-label-bottom-value{
  font-size: 1.75rem;
  line-height: 2rem;
}
.eky-specs-label-bottom-symbol,.eky-specs-label-bottom-title{
  font-size: 1.75rem;
  line-height: 1.75rem;
}
.eky-overlay.heads-top-left{
  width: 27%;
  left: 0vw;
}
.eky-overlay.top-left{
  left:5vw;
  max-width: 31%;
}
.eky-hoover-image{
  height: auto;
}
.eky-container-limited {
    max-width: 540px;
}
.eky-which-container h1{
  font-family: 'DysonFutura-Light';
  font-size: 1.75rem;
  line-height: 2rem;
}
.eky-which-container h2{
  font-family: 'DysonFutura-Book';
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.eky-accesory-title{
  font-weight:800;
  font-size:1.25rem;
  line-height: 1.5rem;
}
.eky-overlay.top-left.mobile-thinner{
  max-width: 26%;
}
.overlay-text h2.blackBg{
  color: #999999;
}
.eky-overlay-text h2{
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.eky-overlay-text h1 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight:normal;
}
.eky-overlay.top-middle-left{
  top: 5vw;
  left: 18vw;
  max-width:30%;
}
.eky-overlay.seq3.top-left h1{
  /* margin-bottom: 1rem; */
  font-family: 'DysonFutura-Light';
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.eky-overlay.seq3.top-left h2.eky-white-text{
  /* margin-top: 0.83em; */
  font-size: 1.25rem;
  font-family: 'DysonFutura-Book';
  line-height: 1.75rem;
}
.eky-overlay.seq3.top-left{
  top: 3vw;
  left: 21vw;
  max-width:35%;
}
.eky-overlay-text h1.eky-smaller {
  font-size: 2rem;
  line-height: 2.5rem;
}
.eky-overlay-text h2.eky-smaller {
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.seq4.eky-thin-overlay {
  max-width: 25% !important;
}
.eky-qr-text{
  font-size:1rem;    margin-top: 10px;
  margin-bottom: 10px;
}
.eky-btn-dyson{
  font-size: 1.25rem;
  height: 64px;
  padding: 5px 12px;
}
.eky-iframe{
  height:55.25vw;
}
.eky-overlay.bottom-right{
  right: 3vw;
}
.Scrollinteract{
    font-size: 1.5rem;
    line-height: 2rem;
}
.mouseScroll{
    height : 50%;
    text-align: center;
}
.eky-module-title{
    font-size: 2rem;
    line-height: 2rem;
}
}
@media (min-width: 768px) and (max-width: 991px){
.title-text{
  display:none;
  visibility:hidden;
  top: -126px;
  left: 40px;
}
.title-text p{
  font-size: 8px !important;
  margin-top: 73px;
  margin-left: 0px ;
}
.eky-container-limited {
    max-width: 720px;
}
.eky-which-container h1{
  font-family: 'DysonFutura-Light';
  font-size: 2.25rem;
}
.eky-which-container h2{
  font-family: 'DysonFutura-Light';
  font-size: 1.5rem;
}
.eky-header-logo-container{
  width:200px;
  height:40px;
}
.eky-header-video-overlays h2{
  font-size:2rem;
  line-height: 2.5rem;
  font-family: 'DysonFutura-Light';
}
.eky-header-video-overlays h3{
  font-size:1.5rem;
  font-family: 'DysonFutura-Book';
  line-height: 2rem;
}
.eky-module-title h1{
  font-size: 1.8rem;
}
.eky-overlay-text h2{
  font-size: 1.25rem;
}
.overlay-text h2.blackBg{
  color: #999999;
}
.eky-btn-dyson{
    font-size:1.0rem;
    padding: 7px 15px;
}
.eky-overlay-text h2.eky-small-text{
  font-size: 1.0rem;
}
.eky-overlay.top-left,.eky-overlay.top-left.mobile-thinner{
  max-width: 40%;
}
.eky-overlay.top-left.mobile-thinner{
  max-width: 26%;
}
.eky-overlay-text h1.eky-smaller {
    font-size: 2.5rem;
    /* margin-left: 16px; */
}
.eky-overlay-text h2.eky-smaller {
    font-size: 1.0rem;
    /* margin-left: 16px; */
}
}
@media (min-width: 992px) and (max-width: 1199px){
.eky-container-limited {
    max-width: 960px;
}
.eky-which-container h1{
  font-family: 'DysonFutura-Light';
  font-size: 2.25rem;
}
.eky-header-logo-container{
  width:284px;
  height:70px;
}
.eky-specs-wrapper {
  flex-direction: row;
}
.eky-specs-left {
  width: 24%;
  flex-direction: column;
}
.eky-specs-right{
  padding-left: 15px;
}
.eky-specs-col {
  width: 24%;
  margin-right: 1%;
}
.eky-specs-container{
  flex-wrap:unset;
}
.eky-specs-left .eky-specs-col {
  width: 100%;
  margin-right: 0%;
  margin-bottom: 20px;
}
.eky-specs-label-top{
    height:24px;
}
.eky-overlay-text h1 {
  font-size: 2.25rem;
  font-family: 'DysonFutura-Light';
  line-height: 2.5rem;
}
.eky-overlay.top-left{
  max-width: 40%;
}
.eky-overlay-text h2{
  font-size: 1.25rem;
  font-family: 'DysonFutura-Book';
  line-height: 1.5rem;
}
.overlay-text h2.blackBg{
  color: #999999;
}
.eky-overlay-text h2.eky-small-text{
  font-size: 1.0rem;
}
.eky-btn-dyson{
  font-size: 1.25rem;
  height: 64px;
  padding: 5px 12px;

}
.eky-overlay.top-middle{
  max-width:100%;
}
.eky-overlay.top-left.mobile-thinner{
  max-width: 30%;
}
}
@media (min-width: 1200px){
/* .title-text{
  top: 86px;
}
.title-text p{
  font-size: 8px !important;
  margin-top: 73px;
  margin-left: 0px ;
} */
.eky-container-limited {
    max-width: 1140px;
}
.eky-overlay.top-left{
  max-width: 40%;
}
.eky-overlay-text h1 {
  font-family: 'DysonFutura-Light';
  font-size: 2.0rem;
  line-height: 2.5rem;
}
}
@media (min-width: 1300px){
  
  /* .title-text{
    top: 86px;
  }
  .title-text p{
    font-size: 8px !important;
    margin-top: 73px;
    margin-left: 0px ;
  } */
  .eky-container-limited {
      max-width: 1240px;
  }
  .eky-overlay.top-left{
    max-width: 35%;
  }

}

.eky-accessory{
  width:20%;
  padding-right: 20px;
}

@keyframes scroll {
0% {
  transform: translateY(0);
}
30% {
  transform: translateY(60px);
}
}

svg #wheel {
  animation: scroll ease 2s infinite;
}

.mouseScroll{
  text-align: center;
}

.mouse{
  width: 40px;
  height: 100%;
}
.hoover-image{
  width: 52%;
  height: 100%;
}

/* *,
*::before,
*::after {
box-sizing: border-box;
-webkit-backface-visibility: hidden;
-webkit-transform-style: preserve-3d;
} */

/* END OF IFRAME */

@media (min-width: 421px) and (max-width: 760px)
{
  .eky-header-video-overlays h2{
    line-height: 1.5rem;
    font-size: 1.25rem;
  }
  .eky-header-video-overlays h3{
    line-height: 1rem;
    font-family: 'DysonFutura-Book';
    font-size: 0.8rem;
  }
  .eky-header-logo-container img{
    width : 75%;
    height : 75%;
  }
  .eky-specs-label-top{
    font-size:1rem;
    line-height: 1.5rem;
  }
  .eky-specs-label-bottom{
      margin-bottom: 2rem;
  }
  .eky-specs-label-bottom-value{
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .eky-specs-label-bottom-symbol,.eky-specs-label-bottom-title{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .eky-overlay.heads-top-left{
    width: 27%;
    left: 0vw;
  }
  .eky-overlay.top-left{
    left:5vw;
    max-width: 31%;
  }
  .eky-hoover-image{
    height: auto;
  }
  .eky-container-limited {
      max-width: 540px;
  }
  .eky-which-container h1{
    font-family: 'DysonFutura-Light';
    font-size: 1.75rem;
    line-height: 2rem;
  }
  .eky-which-container h2{
    font-family: 'DysonFutura-Book';
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .eky-accesory-title{
    /* font-weight:800; */
    font-size:0.8rem;
    line-height: 1.25rem;
  }
  .eky-overlay.top-left.mobile-thinner{
    max-width: 30%;
  }
  .eky-overlay-text h2{
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .overlay-text h2.blackBg{
    color: #999999;
  }
  .eky-overlay-text h2.eky-small-text{
    font-size: 0.8rem;
  }
  .eky-overlay-text h1 {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight:normal;
  }
  .eky-overlay.top-middle-left{
    top: 5vw;
    left: 18vw;
    max-width:30%;
  }
  .eky-overlay.seq3.top-left h1{
    /* margin-bottom: 1rem; */
    font-family: 'DysonFutura-Light';
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .eky-overlay.seq3.top-left h2.eky-white-text{
    /* margin-top: 0.83em; */
    font-size: 0.8rem;
    font-family: 'DysonFutura-Book';
    line-height: 1rem;
  }
  .eky-overlay.seq3.top-left{
    top: 3vw;
    left: 21vw;
    max-width:35%;
  }
  .eky-overlay-text h1.eky-smaller {
    font-size: 1rem;
    line-height: 2.5rem;
  }
  .eky-overlay-text h2.eky-smaller {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .seq4.eky-thin-overlay {
    max-width: 25% !important;
  }
  .eky-qr-text{
    font-size:1rem;    
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .eky-btn-dyson{
    font-size:0.9rem;
    padding: 5px 12px;
    width: 140px;
    height: 25px;
  }
  .eky-iframe{
    height:55.25vw;
  }
  .eky-overlay.bottom-right{
    right: 3vw;
  }
  .Scrollinteract{
    font-size: 0.5rem;
    /* line-height: 1.25rem; */
  }
  .Scrollinteract sup{
    font-size: x-small;
  }
  .mouseScroll{
    text-align: center;
  }
  .eky-module-title h1{
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .mouse{
    width: 15px;
    height: 30%;
  }
  .hoover-image{
    width: 75%;
    height: 75%;
  }
  .title-text{
    top: -67px;
    left: -69px;
  }
  
}

@media (min-width: 300px) and (max-width: 420px){
  #crevicetool p{
    margin-left: 0px;
  }
  #combtool p{
    margin-left: 0px
  }
  .title-text{
    top: -107px;
    left: -14px;
  }
  .mini{
    padding: 14px 31px !important;
  }
  .comb{
    padding: 14px 23px !important;
  }
  .crevice {
    padding: 14px 23px !important;
  }
  .drive{
    padding:14px 36px !important;
  }
  .dust{
    padding: 14px 45px !important;
  }
  .title-text p{
    font-size: 8px !important;
    margin-top: 73px;
    margin-left: 0px ;
    padding: 14px 40px;
  }
 .drive{
  font-size: 8px !important;
 }
  .eky-header-video-container {
    height: 256px;
    width: 100%;
    margin-bottom: -36px;
    z-index: 10;
}
.eky-accesory-container{
  width: 100%;
}
.eky-accessory {
  width: 50%;
}
.eky-header-video-overlays h2, .eky-header-video-overlays h3{
  font-size: 15px;
  line-height: 1.5rem;
  margin-bottom: 0;
}


  .eky-header-video-overlays h2{
    margin-left: 10px;
    line-height: 1.5rem;
    font-size: 1.25rem;
  }
  .eky-header-video-overlays h3{
    margin-left: 10px;
    line-height: 1rem;
    font-family: 'DysonFutura-Book';
    font-size: 0.8rem;
  }
  .eky-header-logo-container img{
    margin-top: 20px;
    margin-left: -26px;
    width : 75%;
    height : 75%;
  }
  .eky-specs-label-top{
      font-size:1rem;
      line-height: 1.5rem;
  }
  .eky-specs-label-bottom{
      margin-bottom: 2.5rem;
  }
  .eky-specs-label-bottom-value{
    font-size: 1.25rem;
    line-height: 1rem;

  }
  .eky-specs-label-bottom-symbol,.eky-specs-label-bottom-title{
    font-size: 1rem;
    line-height: 1rem;
  }
  .eky-overlay.heads-top-left{
    width: 27%;
    left: 0vw;
  }
  .eky-overlay.top-left{
    left:5vw;
    max-width: 40%;
  }
  .eky-hoover-image{
    height: auto;
  }
  .eky-container-limited {
      max-width: 540px;
  }
  .eky-which-container h1{
    font-family: 'DysonFutura-Light';
    font-size: 1.75rem;
    line-height: 2rem;
  }
  .eky-which-container h2{
    font-family: 'DysonFutura-Book';
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .eky-accesory-title{
    /* font-weight:800; */
    font-size:0.8rem;
    line-height: 1.25rem;
    font-weight:normal;
  }
  .eky-overlay.top-middle-left{
    top: 5vw;
    left: 18vw;
    max-width:30%;
  }
  .eky-overlay.seq3.top-left h1{
    /* margin-bottom: 1rem; */
    font-family: 'DysonFutura-Light';
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .eky-overlay.seq3.top-left h2.eky-white-text{
    /* margin-top: 0.83em; */
    font-size: 0.8rem;
    font-family: 'DysonFutura-Book';
    line-height: 1rem;
  }
  .eky-overlay.seq3.top-left{
    top: 3vw;
    left: 21vw;
    max-width:35%;
  }
  .eky-overlay-text h1.eky-smaller {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .eky-overlay-text h2.eky-smaller {
    font-size: 0.5rem;
    line-height: 1rem;
  }
  .seq4.eky-thin-overlay {
    max-width: 25% !important;
  }
  .eky-qr-text{
    font-size:1rem;    
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .eky-btn-dyson{
    font-size:0.9rem;
    padding: 5px 12px;
    height: 25px;
    width: 140px;
  }
  .eky-iframe{
    height:55.25vw;
  }
  .eky-overlay.bottom-right{
    right: 3vw;
  }
  .Scrollinteract{
    font-size: 0.5rem;
    /* line-height: 1.25rem; */
  }
  .Scrollinteract sup{
    font-size: xx-small;
  }
  .mouseScroll{
    text-align: center;
  }
  .eky-module-title h1{
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .eky-overlay.top-left.mobile-thinner{
    max-width: 40%;
  }
  .eky-overlay-text h2{
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .overlay-text h2.blackBg{
    color: #999999;
  }
  .eky-overlay-text h2.eky-small-text{
    font-size: 0.5rem;
    line-height: 1rem;
  }
  .eky-overlay-text h1 {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight:normal;
  }
  .eky-overlay.top-middle-left{
    top: 2vw;
    left: 5vw;
    max-width:40%;
  }
  .eky-overlay.seq3.top-left h1{
    /* margin-bottom: 1rem; */
    font-family: 'DysonFutura-Light';
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .eky-overlay.seq3.top-left h2.eky-white-text{
    /* margin-top: 0.83em; */
    font-size: 0.5rem;
    font-family: 'DysonFutura-Book';
    line-height: 1rem;
  }
  .eky-overlay.seq3.top-left{
    top: 3vw;
    left: 21vw;
    max-width:42%;
  }
  .eky-overlay-text h1.eky-smaller {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .eky-overlay-text h2.eky-smaller {
    font-size: 0.5rem;
    line-height: 1rem;
  }
  .seq4.eky-thin-overlay {
    max-width: 40% !important;
  }
  .eky-qr-text{
    font-size:1rem;    
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .eky-btn-dyson{
    font-size:0.9rem;
    padding: 5px 12px;
  }
  .eky-iframe{
    height:55.25vw;
  }
  .eky-overlay.bottom-right{
    right: 3vw;
    max-width: 40%;
  }
  .Scrollinteract{
    font-size: 0.5rem;
    /* line-height: 1.25rem; */
  }
  .Scrollinteract sup{
    font-size: xx-small;
  }
  .mouseScroll{
    text-align: center;
  }
  .eky-module-title h1{
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .mouse{
    width: 15px;
    height: 30%;
  }
  /* .eky-accesory-container{
    margin-left: 20px;
  } */
  .hoover-image{
    width: 75%;
    height: 75%;
  }
  .left-padding{
    padding-left: 16px;
  }
  .eky-overlay.seq2.middle-right{
    right:1.5vw;
  }
  .eky-overlay.seq2.top-right{
    right:1.5vw;
  }
  .eky-grey-text h1{
    color:#333333;
  }
  
  .eky-grey-text h2{
    color:#555555;
  }
  .seq4.eky-thin-overlay.eky-grey-text h2{
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .eky-btn-dyson{
    padding: 7px 15px;
    font-size:0.5rem;
  }
  .eky-specs-label-top{
    font-size:1rem;
    line-height: 1.5rem;
  }
  .eky-specs-label-bottom{
      margin-bottom: 2rem;
  }
  .eky-specs-label-bottom-value{
    font-size: 1rem;
    line-height: 1rem;
  }
  .eky-specs-label-bottom-symbol,.eky-specs-label-bottom-title{
    font-size: 1rem;
    line-height: 1rem;
  }
  .Scroll-section2{
    font-size: 0.2rem;
  }
  .Scroll-section2 sup{
    font-size: 0.5rem;;
  }
  /* .eky-header-video-overlays {
    top: -61px;
  } */
  .eky-header-logo-container{
    margin-top: 10px;
  }
  /* .eky-header-video-container video{
    height: 400px !important;
  } */
}


@media screen and (min-width: 768px) {
  
}

.eky-header-video-overlays h2{
  margin-top:0px;
}

.extreme-left{
  top: 5vw;
  left: 0;
}

.title-text{
    display:none;
    visibility:hidden;
}

.customize-tools { 
  position: relative; 
  text-align: center;
}
.thumbnails { 
  margin: 20px 0;
  text-align: center;
}
.thumbnails li {
  display: inline-block;
  cursor: pointer;
  border: 5px solid #fff;
}
.thumbnails .tns-nav-active {
  background: none;
  border-color: #000;
}
.thumbnails li { width: 100px; }
.thumbnails img { 
  vertical-align: bottom; 
  height: 50px; 
  max-height: 50px; }
.controls { 
  text-align: center; 
}
#cen {
  text-align: center;
}
.controls li {
  display: block;
  position: absolute;
  top: 50%;
  height: 60px;
  line-height: 60px;
  margin-top: -30px;
  padding: 0 15px;
  cursor: pointer;
  transition: background 0.3s;
}
.controls li img { display: inline-block; vertical-align: middle; }
.controls .prev { left: 2evw; }
.controls .next { right: 3evw; }
.controls li:hover { background: #f2f2f2; }

  /* -----new-css---- */
  .slider-tab{
    float: left;
    width: 100%;
    padding: 0rem 25px;
  }
  .slider-tab .col-md-2 h1{
    font-family: 'DysonFutura-Light';
    font-size: 2.0rem;
    line-height: 2.5rem;
    font-weight: normal;
    color: #333;
    margin-top: 25rem;
  }
  video {
    max-width: 100%;
  }
  .slider-tab  .nav-tabs li{
    width: 100%;
    margin-bottom: 30px;
  }
  .slider-tab .tab-content {
    overflow: hidden;
  }
   .nav-tabs li a h1{
    font-family: 'DysonFutura-Light';
      font-size: 2.0rem;
      line-height: 2.5rem;
      color: #555;
      margin-bottom: 12px;
      
  }
  .slider-tab .nav-tabs li a h2{
    margin-top: 0;
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #000 !important;
    cursor: default;
    border:none !important;
    background: transparent !important;
  }
  
  .slider-tab .nav-tabs>li>a{
    color: #555;
  }
  .slider-tab .nav-tabs .active{
    background-color: transparent !important;
    background: transparent;
  }
   .nav-tabs>li.active>a h1{
    color: #000 ;
    margin-top: 0;
  }
   .nav-tabs>li.active>a h2{
    color: #000;
  }
  .nav-tabs>li>a:hover {
    border-color: transparent !important;
    background-color: transparent !important;
  }
  .slider-tab .nav-tabs{
    border-bottom: none !important;
    margin-top: 110px;
  }
  .tab-pane .video {
    width: 100%;
    height: 83vh;
    position: relative;
    object-fit: cover;
    top: -63px;
  }
  .controls li{
    top: -4300% !important;
  }